<div class="card">
    <div class="card-header border-0 pb-0">
        <div class="clearfix">
            <h3 class="card-title">Latency</h3>
            <span>In the normal</span>
        </div>
        <div class="clearfix text-center">
            <h3 class="text-info mb-0">124</h3>
            <span>mg/dl</span>
        </div>
    </div>
    <div class="chart-wrapper">
        <canvas #chart2 style="display: inline; width:100%; max-height: 150px;" height="180"></canvas>
    </div>
    <div class="card-body">
        <h4 class="card-title">Latency active user</h4>
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-between">
                    <h6>80%</h6>
                    <span>Grow</span>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-info" style="width: 80%"></div>
                </div>
            </div>
            <div class="col-12 mt-4">
                <div class="d-flex justify-content-between">
                    <h6>40%</h6>
                    <span>Grow</span>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-primary" style="width: 40%"></div>
                </div>
            </div>
            <div class="col-12 mt-4">
                <div class="d-flex justify-content-between">
                    <h6>70%</h6>
                    <span>Grow</span>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-success" style="width: 70%"></div>
                </div>
            </div>
            
            <div class="col-12 mt-4">
                <div class="d-flex justify-content-between">
                    <h6>80%</h6>
                    <span>Grow</span>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-warning" style="width: 80%"></div>
                </div>
            </div>
        </div>
    </div>
</div>