<div class="content-body">
  <div class="container-fluid">
    <!-- Breadcrumb -->
    <app-breadcrumb [breadcrumb]="breadcrumbList"> </app-breadcrumb>

    <!-- row -->
    <div class="row">
      <div class="col-lg-12">
        <div class="profile card card-body px-3 pt-3 pb-0">
          <app-profile-head [profileDetail]="profileDetailArray"></app-profile-head>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4">
        <app-profile-sid-menu></app-profile-sid-menu>
      </div>
      <div class="col-xl-8">
        <div class="card">
          <div class="card-body">
            <app-profile-tab></app-profile-tab>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
