<div class="row">
    <div class="col-xxl-12">
        <div class="card shadow-none">
            <!--  <div class="card-header d-block pt-3 pb-1">
    <h5 class="mb-2"><b>Custom Fields</b></h5>
</div> -->
            <div class="card-body px-0">
                <form [formGroup]="form" (ngSubmit)="onSubmit()" class="col-md-12 col-xs-12  col-lg-12 col-sm-12 ">
                    <h4 class="mx-4"><b>Create Message Routing</b></h4>
                    <ng-container formGroupName="ruleprocessingDetails">

                        <div class="row  mx-2">
                            <div class="col-md-2 mb-3">
                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                    class=" custom-size-form-field ">
                                    <mat-label>Routing Channel</mat-label>
                                    <mat-select formControlName="routingChannelId">
                                        <!-- <mat-select placeholder="Institution" > -->
                                        <mat-option [value]="1">
                                            1
                                        </mat-option>
                                        <mat-option [value]="1">
                                            1
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-2 mb-3">
                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                    class=" custom-size-form-field ">
                                    <mat-label>Message Name</mat-label>
                                    <mat-select formControlName="messageNameId">
                                        <!-- <mat-select placeholder="Institution"> -->
                                        <mat-option [value]="1">
                                            1
                                        </mat-option>
                                        <mat-option [value]="1">
                                            1
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-2 mb-3">
                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                    class=" custom-size-form-field ">
                                    <mat-label>Identifier 1</mat-label>
                                    <mat-select formControlName="firstIdentifier">
                                        <!-- <mat-select placeholder="Institution"> -->
                                        <mat-option [value]="1">
                                            1
                                        </mat-option>
                                        <mat-option [value]="1">
                                            1
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-2 mb-3">
                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                    class="custom-size-form-field">
                                    <mat-label>Identifier 1 Value</mat-label>
                                    <input matInput placeholder="First Name*" formControlName="firstIdentifierValue">
                                    <mat-error>
                                        <small>Required</small>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-2 mb-3">
                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                    class=" custom-size-form-field ">
                                    <mat-label>Identifier 2</mat-label>
                                    <mat-select formControlName="secondIdentifier">
                                        <!-- <mat-select placeholder="Institution"> -->
                                        <mat-option [value]="1">
                                            1
                                        </mat-option>
                                        <mat-option [value]="1">
                                            1
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-2 mb-3">
                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                    class="custom-size-form-field">
                                    <mat-label>Identifier 2 Value</mat-label>
                                    <input matInput placeholder="First Name*" formControlName="secondIdentifierValue">
                                    <mat-error>
                                        <small>Required</small>
                                    </mat-error>
                                </mat-form-field>
                            </div>



                        </div>
                        <div class="row  mx-2">
                            <div class="col-md-2 mb-3">
                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                    class=" custom-size-form-field ">
                                    <mat-label>Source Channel</mat-label>
                                    <mat-select formControlName="sourceChannelId">
                                        <!-- <mat-select placeholder="Institution" formControlName="institutionId"> -->
                                        <mat-option [value]="1">
                                            1
                                        </mat-option>
                                        <mat-option [value]="1">
                                            1
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4 mb-3 d-flex justify-content-start ">
                                <mat-checkbox class="example-margin" formControlName="isSettlementDate">Settlement Date</mat-checkbox>
                            </div>
                            <div class="col-md-4 mb-3 d-flex justify-content-start ">
                                <mat-checkbox class="example-margin" formControlName="isDestinationProcessing">Destination
                                    Processing</mat-checkbox>
                            </div>
                            <div class="col-md-2 mb-3 ">
                                <mat-checkbox class="example-margin" formControlName="isDestinationComms">Destination Comms
                                </mat-checkbox>
                            </div>



                        </div>
                        <div class="row  mx-2">
                            <div class="col-md-4 mb-3 d-flex justify-content-end ">
                                <mat-checkbox class="example-margin"  formControlName="isDestinationSettlement">Destination Settlement Date</mat-checkbox>
                            </div>
                            <div class="col-md-4 mb-3 d-flex justify-content-end ">
                                <mat-checkbox class="example-margin"  formControlName="isSourceChannel">Source Channel</mat-checkbox>
                            </div>
                            <div class="col-md-4 mb-3 d-flex justify-content-end ">
                                <mat-checkbox class="example-margin"  formControlName="isDestinationChannel">Destination Channel</mat-checkbox>
                            </div>


                        </div>
                        <div class="row  mx-2">
                            <h4 class="mx-4"><b>Define Rules</b></h4>

                            <div class="col-md-2 mb-3">
                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                    class=" custom-size-form-field ">
                                    <mat-label>Existing Rule</mat-label>
                                    <mat-select formControlName="existingRuleId">
                                        <!-- <mat-select placeholder="Institution"> -->
                                        <mat-option [value]="1">
                                            1
                                        </mat-option>
                                        <mat-option [value]="1">
                                            1
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>




                        </div>
                        <div class="row  mx-2">

                            <ng-container formGroupName="ruleDetails">

                            <div class="col-md-2 mb-3">
                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                    class="custom-size-form-field">
                                    <mat-label>Identifier 1 Value</mat-label>
                                    <input matInput placeholder="First Name*" formControlName="routingName">
                                    <mat-error>
                                        <small>Required</small>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-1 mb-3">
                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                    class="custom-size-form-field">
                                    <mat-label>Identifier 1 Value</mat-label>
                                    <input matInput placeholder="First Name*" formControlName="resultZero">
                                    <mat-error>
                                        <small>Required</small>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-1 mb-3">
                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                    class="custom-size-form-field">
                                    <mat-label>Identifier 1 Value</mat-label>
                                    <input matInput placeholder="First Name*" formControlName="resultOne">
                                    <mat-error>
                                        <small>Required</small>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-1 mb-3">
                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                    class="custom-size-form-field">
                                    <mat-label>Identifier 1 Value</mat-label>
                                    <input matInput placeholder="First Name*" formControlName="resultTwo">
                                    <mat-error>
                                        <small>Required</small>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-1 mb-3">
                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                    class="custom-size-form-field">
                                    <mat-label>Identifier 1 Value</mat-label>
                                    <input matInput placeholder="First Name*" formControlName="resultThree">
                                    <mat-error>
                                        <small>Required</small>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-1 mb-3">
                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                    class="custom-size-form-field">
                                    <mat-label>Identifier 1 Value</mat-label>
                                    <input matInput placeholder="First Name*" formControlName="resultFour">
                                    <mat-error>
                                        <small>Required</small>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-1 mb-3">
                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                    class="custom-size-form-field">
                                    <mat-label>Identifier 1 Value</mat-label>
                                    <input matInput placeholder="First Name*" formControlName="resultFive">
                                    <mat-error>
                                        <small>Required</small>
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-md-2">
                                <!-- <button mat-flat-button color="primary" class="rounded-3" >Add
                                    Channel</button> -->
                                <mat-icon color="primary" type="button"
                                    (click)="addRules()">control_point</mat-icon>
                            </div>
                            <div class="col-md-2">
                                <button mat-flat-button color="primary" class="rounded-3" type="button" (click)="addRuleProcessing()">Add
                                    Endpoint</button>
        
                            </div>
                        </ng-container>
                        </div>
                    </ng-container>
                </form>
                <div class="row mx-3 " *ngIf="lstRules.length > 0">
                    <h4 class="mx-4"><b>Processing Rules</b></h4>

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th><small>

                                        sequence
                                    </small>
                                </th>
                                <th><small>

                                        channel
                                    </small>
                                </th>
                                <th><small>

                                        source Channel
                                    </small>
                                </th>
                                <th><small>

                                        destination Channel
                                    </small>
                                </th>
                                <th><small>

                                        1st Identifier
                                    </small>
                                </th>
                                <th><small>

                                        2nd Identifier
                                    </small>
                                </th>
                                <th><small>

                                        3rd Identifier
                                    </small>
                                </th>
                                <th><small>

                                        destination Queue
                                    </small>
                                </th>
                                <th><small>

                                        destination Adaptar
                                    </small>
                                </th>
                                <th><small>

                                        Actions
                                    </small>
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let record of lstRules; let i = index">
                                <td>{{record.sequence || "--"}}</td>
                                <td>{{record.channelId || "--"}}</td>
                                <td>{{record.sourceChannelId || "--"}}</td>
                                <td>{{record.destinationChannelId || "--"}}</td>
                                <td>{{record.firstIdentifier || "--"}}</td>
                                <td>{{record.secondIdentifier || "--"}}</td>
                                <td>{{record.thirdIdentifier || "--"}}</td>
                                <td>{{record.destinationQueueId || "--"}}</td>
                                <td>{{record.destinationAdaptarId || "--"}}</td>

                                <td>
                                    <button mat-icon-button color="primary" (click)="editRuleProcessing(i)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-icon-button color="warn" (click)="removeRuleProcessing(i)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </tr>

                            <tr *ngIf="lstRules.length == 0">
                                <td colspan="4">
                                    <span>Data not found.</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row mx-3 " *ngIf="ruleProcessingList.length > 0">
                    <h4 class="mx-4"><b>Message Processing</b></h4>
                    
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th><small>

                                        sequence
                                    </small>
                                </th>
                                <th><small>

                                        channel
                                    </small>
                                </th>
                                <th><small>

                                        source Channel
                                    </small>
                                </th>
                                <th><small>

                                        destination Channel
                                    </small>
                                </th>
                                <th><small>

                                        1st Identifier
                                    </small>
                                </th>
                                <th><small>

                                        2nd Identifier
                                    </small>
                                </th>
                                <th><small>

                                        3rd Identifier
                                    </small>
                                </th>
                                <th><small>

                                        destination Queue
                                    </small>
                                </th>
                                <th><small>

                                        destination Adaptar
                                    </small>
                                </th>
                                <th><small>

                                        Actions
                                    </small>
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let record of ruleProcessingList; let i = index">
                                <td>{{record.sequence || "--"}}</td>
                                <td>{{record.channelId || "--"}}</td>
                                <td>{{record.sourceChannelId || "--"}}</td>
                                <td>{{record.destinationChannelId || "--"}}</td>
                                <td>{{record.firstIdentifier || "--"}}</td>
                                <td>{{record.secondIdentifier || "--"}}</td>
                                <td>{{record.thirdIdentifier || "--"}}</td>
                                <td>{{record.destinationQueueId || "--"}}</td>
                                <td>{{record.destinationAdaptarId || "--"}}</td>

                                <td>
                                    <button mat-icon-button color="primary" (click)="editRuleProcessing(i)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-icon-button color="warn" (click)="removeRuleProcessing(i)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </tr>

                            <tr *ngIf="ruleProcessingList.length == 0">
                                <td colspan="4">
                                    <span>Data not found.</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>