
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <app-breadcrumb [breadcrumb]="breadcrumbList"> </app-breadcrumb>
        </div>
        <!-- row -->
        <div class="row">
            <div class=" col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Bottom Sheet Overview</h4>
                    </div>
                    <div class="card-body">

                        <p>You have received a file called "cat-picture.jpeg".</p>

                        <button mat-raised-button (click)="openBottomSheet()" color="primary">Open file</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
