<div class="content-body">
    <div class="container-fluid">
      <h4>idea 1</h4>
      <mat-button-toggle-group [multiple]="true" #group="matButtonToggleGroup">
        <mat-button-toggle value="position">
            <span>Position</span>
          </mat-button-toggle>
            <mat-button-toggle value="name">
            <span>Name</span>
          </mat-button-toggle>
          <mat-button-toggle value="weight">
            <span>Weight</span>
          </mat-button-toggle>
          <mat-button-toggle value="symbol">
            <span>Symbol</span>
          </mat-button-toggle>
      </mat-button-toggle-group>
  
      <mat-table *ngIf="group.value && group.value.length" [dataSource]="dataSource1" class="mat-elevation-z8">
        <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.position }} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="weight">
          <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.weight }} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="symbol">
          <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.symbol }} </mat-cell>
        </ng-container>
  
        <mat-header-row *matHeaderRowDef="group.value"></mat-header-row>
        <mat-row *matRowDef="let row; columns: group.value;"></mat-row>
      </mat-table>
  
      <h4>idea 2</h4>
      <mat-table [dataSource]="dataSource2" class="mat-elevation-z8">
        <ng-container *ngIf="columnsVisibility.position" matColumnDef="position">
          <mat-header-cell *matHeaderCellDef (click)="toggleColumn('position')" class="clickable">
            No.
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.position }} </mat-cell>
        </ng-container>
  
        <ng-container *ngIf="columnsVisibility.name" matColumnDef="name">
          <mat-header-cell *matHeaderCellDef (click)="toggleColumn('name')" class="clickable">
            Name
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
        </ng-container>
  
        <ng-container *ngIf="columnsVisibility.weight" matColumnDef="weight">
          <mat-header-cell *matHeaderCellDef (click)="toggleColumn('weight')" class="clickable">
            Weight
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.weight }} </mat-cell>
        </ng-container>
  
        <ng-container *ngIf="columnsVisibility.symbol" matColumnDef="symbol">
          <mat-header-cell *matHeaderCellDef (click)="toggleColumn('symbol')" class="clickable">
            Symbol
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.symbol }} </mat-cell>
        </ng-container>
  
        <mat-header-row *matHeaderRowDef="displayedColumn"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumn;"></mat-row>
      </mat-table>
  
      <h4>idea 3</h4>
      <div class="d-flex justify-content-end">
        <button mat-stroked-button class="rounded-3 custom-button" [matMenuTriggerFor]="columnMenu">
          <mat-icon class="mx-1">view_week</mat-icon>
        </button>
  
        <mat-menu #columnMenu="matMenu">
          <mat-checkbox *ngFor="let column of displayedColumns" [(ngModel)]="columnVisibility3[column]">
            {{ column | titlecase }}
          </mat-checkbox>
        </mat-menu>
      </div>
  
      <mat-table [dataSource]="dataSource1" class="mat-elevation-z8">
        <ng-container *ngFor="let column of displayedColumns">
          <ng-container *ngIf="columnVisibility3[column]">
            <ng-container matColumnDef="{{ column }}">
              <mat-header-cell *matHeaderCellDef> {{ column | titlecase }} </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{ element[column] }} </mat-cell>
            </ng-container>
          </ng-container>
        </ng-container>
  
        <mat-header-row *matHeaderRowDef="visibleColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: visibleColumns;"></mat-row>
      </mat-table>
    </div>
  </div>
  