<div class="row">
    <div class="col-md-12">


        <div class="card m-2">
            <div class="card-header d-block pt-3 pb-1">
                <h4><b>Preview Field Routings</b></h4>
            </div>
            <div class="card-body pb-0 mb-3 px-0" style="  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.35);">
                <form [formGroup]="form" (ngSubmit)="onSubmit()" class="col-md-12 col-xs-12  col-lg-12 col-sm-12 ">
                    <div class="row mx-2">
                        <div class="col-md-3 ">
                            <mat-form-field style="font-size: 14px;" appearance="outline"
                                class=" custom-size-form-field ">
                                <mat-label>Source Channel</mat-label>
                                <mat-select placeholder="Select Channel" formControlName="tlsVersion">
                                    <!-- <mat-select placeholder="Select " formControlName="Select Id"> -->
                                    <mat-option [value]="1">
                                        1
                                    </mat-option>
                                    <mat-option [value]="1">
                                        1
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    <small>Required</small>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3 ">
                            <mat-form-field style="font-size: 14px;" appearance="outline"
                                class=" custom-size-form-field ">
                                <mat-label>Routing Channel</mat-label>
                                <mat-select placeholder="Select Channel" formControlName="tlsVersion">
                                    <!-- <mat-select placeholder="Select " formControlName="Select Id"> -->
                                    <mat-option [value]="1">
                                        1
                                    </mat-option>
                                    <mat-option [value]="1">
                                        1
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    <small>Required</small>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3 ">
                            <mat-form-field style="font-size: 14px;" appearance="outline"
                                class=" custom-size-form-field ">
                                <mat-label>Destination Channel</mat-label>
                                <mat-select placeholder="Select Channel" formControlName="tlsVersion">
                                    <!-- <mat-select placeholder="Select " formControlName="Select Id"> -->
                                    <mat-option [value]="1">
                                        1
                                    </mat-option>
                                    <mat-option [value]="1">
                                        1
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    <small>Required</small>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3 mb-3">
                            <button mat-flat-button color="primary" class="rounded-3 custom-button" type="submit"
                            >Submit</button>
                        </div>
                    </div>
                </form>
          
            <!-- <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
 
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding style="background-color: rgb(188, 255, 121);">
    
    <button mat-icon-button disabled></button>
    {{node.name}}
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding style="background-color: rgb(147, 206, 255);">
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    {{node.name}}
  </mat-tree-node>
</mat-tree> 
     -->
            <mat-accordion class="custom-accordian" multi="true">
                <ng-container *ngFor="let panel of transactionData.panels">
                    <mat-expansion-panel class="shadow-none">
                        <mat-expansion-panel-header>
                            <mat-panel-title> {{ panel.title }} </mat-panel-title>
                        </mat-expansion-panel-header>

                        <div *ngFor="let child of panel.description">
                            <p>Scheme Name: {{ child.SchemeName }}</p>
                            <p>Tran Code: {{ child.trancode }}</p>
                            <p>Destination Queue: {{ child.DestQueue }}</p>
                            <p>Destination Endpoint: {{ child.DestEndpoint }}</p>
                        </div>
                        <ng-container *ngIf="panel.children">
                            <mat-accordion>
                                <ng-container *ngFor="let child of panel.children">
                                    <mat-expansion-panel class="shadow-none">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title> {{ child.title }} </mat-panel-title>
                                        </mat-expansion-panel-header>

                                        <div *ngFor="let child of panel.description">
                                            <p>Scheme Name: {{ child.SchemeName }}</p>
                                            <p>Tran Code: {{ child.trancode }}</p>
                                            <p>Destination Queue: {{ child.DestQueue }}</p>
                                            <p>Destination Endpoint: {{ child.DestEndpoint }}</p>
                                        </div>

                                        <ng-container *ngIf="child.children">
                                            <mat-accordion>
                                                <ng-container *ngFor="let subChild of child.children">
                                                    <mat-expansion-panel class="shadow-none p-0">
                                                        <mat-expansion-panel-header>
                                                            <mat-panel-title> {{ subChild.title }} </mat-panel-title>
                                                        </mat-expansion-panel-header>

                                                        <div *ngFor="let child of panel.description">
                                                            <p>Scheme Name: {{ child.SchemeName }}</p>
                                                            <p>Tran Code: {{ child.trancode }}</p>
                                                            <p>Destination Queue: {{ child.DestQueue }}</p>
                                                            <p>Destination Endpoint: {{ child.DestEndpoint }}</p>
                                                        </div>

                                                    </mat-expansion-panel>
                                                </ng-container>
                                            </mat-accordion>
                                        </ng-container>

                                    </mat-expansion-panel>
                                </ng-container>
                            </mat-accordion>
                        </ng-container>

                    </mat-expansion-panel>
                </ng-container>
            </mat-accordion>
          
            </div>
        </div>
    </div>


    <!-- <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
 
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding style="background-color: chartreuse;">
    
    <button mat-icon-button disabled></button>
    {{node.name}}
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding style="background-color: rgb(1, 104, 189);">
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    {{node.name}}
  </mat-tree-node>
</mat-tree> -->