<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7 col-sm-6 col-xs-12">
                <h2>Global Configurations</h2>
                <h6>These settings allow you to do this and that. These settings are present here and there.</h6>
                <h6>You can also setup templates as well.</h6>
                <form [formGroup]="form" class="row" >
                    <mat-accordion class="example-headers-align" multi>
                        <!-- DB Configuration Pooling -->
                        <mat-expansion-panel [expanded]="true" hideToggle>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h4><b>DB Configuration Pooling</b></h4>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <mat-form-field style="font-size: 14px;" appearance="outline"
                                        class="custom-size-form-field">
                                        <mat-label>Minimum Connections</mat-label>
                                        <input matInput placeholder="Enter Minimum Connections*" formControlName="minConnections">
                                        <mat-error>
                                            <small>Required</small>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field style="font-size: 14px;" appearance="outline"
                                        class="custom-size-form-field">
                                        <mat-label>Maximum Connections</mat-label>
                                        <input matInput placeholder="Enter Maximum Connections*" formControlName="maxConnections">
                                        <mat-error>
                                            <small>Required</small>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-expansion-panel>

                        <!-- Thread Pooling -->
                        <mat-expansion-panel [expanded]="true" hideToggle>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h4><b>Thread Pooling</b></h4>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <mat-form-field style="font-size: 14px;" appearance="outline"
                                        class="custom-size-form-field">
                                        <mat-label>Minimum Threads</mat-label>
                                        <input matInput placeholder="Enter Minimum Threads*" formControlName="minThreads">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field style="font-size: 14px;" appearance="outline"
                                        class="custom-size-form-field">
                                        <mat-label>Maximum Threads</mat-label>
                                        <input matInput placeholder="Enter Maximum Threads*" formControlName="maxThreads">
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-expansion-panel>

                        <!-- File Logging & Services -->
                        <mat-expansion-panel [expanded]="true" hideToggle>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h4><b>File Logging & Services</b></h4>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <mat-form-field style="font-size: 14px;" appearance="outline"
                                        class="custom-size-form-field">
                                        <mat-label>Max Log File Size</mat-label>
                                        <input matInput placeholder="Enter Max Log File Size*" formControlName="logFileSize">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field style="font-size: 14px;" appearance="outline"
                                        class="custom-size-form-field">
                                        <mat-label>Choose Log File Path</mat-label>
                                        <input matInput placeholder="Choose Log File Path*" formControlName="logFilePath">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <mat-form-field style="font-size: 14px;" appearance="outline"
                                        class="custom-size-form-field">
                                        <mat-label>Log Level</mat-label>
                                        <input matInput placeholder="Enter Log Level*" formControlName="logLevel">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field style="font-size: 14px;" appearance="outline"
                                        class="custom-size-form-field">
                                        <mat-label>Service Config File Path</mat-label>
                                        <input matInput placeholder="Choose Service Config File Path*"
                                            formControlName="configFilePath">
                                    </mat-form-field>
                                </div>

                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>

                </form>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-12">
                <mat-card class="p-3">

                    <h5 class="mb-2"><b>Summary</b></h5>
                    <div class="border-dark border-1 border-top mb-4"></div>
                    <form [formGroup]="duplicateForm"   class="col-md-12 col-xs-12  col-lg-12 col-sm-12 " >
                     
                        <div class="row">

                            <h6 style="color : #007BFF">DB Configuration Pooling</h6>
                        </div>
                        <div class="row mb-3  ">
                            <div class="col-md-6">
                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                    class="custom-size-form-field">
                                    <mat-label>Minimum Connections</mat-label>
                                    <input matInput placeholder="Minimum Connections*"
                                        formControlName="duplicateMinConnections">
                                </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                    class="custom-size-form-field">
                                    <mat-label>Maximum Connections</mat-label>
                                    <input matInput placeholder="Maximum Connections*" formControlName="duplicateMaxConnections">
                                </mat-form-field>
                            </div>

                        </div>
                        <div class="row">

                            <h6 style="color : #007BFF">Thread Pooling</h6>
                        </div>
                        <div class="row mb-3  ">
                            <div class="col-md-6">
                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                    class="custom-size-form-field">
                                    <mat-label>Minimum Threads</mat-label>
                                    <input matInput placeholder="Minimum Threads*" formControlName="duplicateMinThreads">
                                </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                    class="custom-size-form-field">
                                    <mat-label>Maximum Threads</mat-label>
                                    <input matInput placeholder="Maximum Threads*" formControlName="duplicateMaxThreads">
                                </mat-form-field>
                            </div>

                        </div>
                        <div class="row">

                            <h6 style="color : #007BFF">File Logging & Services</h6>
                        </div>
                        <div class="row mb-3  ">
                            <div class="col-md-6">
                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                    class="custom-size-form-field">
                                    <mat-label>Max Log File Size</mat-label>
                                    <input matInput placeholder="Max Log File Size*"
                                        formControlName="duplicateLogFileSize">
                                </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                    class="custom-size-form-field">
                                    <mat-label>Log file Path</mat-label>
                                    <input matInput placeholder="Log file Path*" formControlName="duplicateLogFilePath">
                                </mat-form-field>
                            </div>

                        </div>
                        <div class="row mb-3  ">
                            <div class="col-md-6">
                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                    class="custom-size-form-field">
                                    <mat-label>Log Level</mat-label>
                                    <input matInput placeholder="Log Level*" formControlName="duplicateLogLevel">
                                </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                    class="custom-size-form-field">
                                    <mat-label>Services Config File Path</mat-label>
                                    <input matInput placeholder="Services Config File Path*"
                                        formControlName="duplicateConfigFilePath">
                                </mat-form-field>
                            </div>

                        </div>
                        <div class="row mb-3 mt-5 ">
                            <div class="col-md-12 d-flex justify-content-between">
                                <div class="col-md-4">
                                    <button mat-flat-button color="primary"  class="w-100" type="submit">Cancel</button>
                                </div>
                                <div class="col-md-5">
                                    <button mat-flat-button color="primary" class="w-100" style="background-color: #007F5F;" type="button" (click)="submitForm()">Create
                                        Configurations</button>
                                </div>
                            </div>

                        </div>
                        <div class="row mb-3 ">
                            <div class="col-md-12 mb-3 d-flex justify-content-end"><!-- formControlName="isTemplate" -->
                                <mat-checkbox class="example-margin" >Save as a Template</mat-checkbox>
                            </div>
                        </div>
                    </form>
                </mat-card>


            </div>
        </div>

    </div>
</div>