.mat-mdc-table .mdc-data-table__content .mat-mdc-row, .mat-mdc-table .mat-mdc-header-row{
    height: 30px;
}


.mat-mdc-table .mat-mdc-row, .mat-mdc-table  .mat-mdc-header-row .mat-mdc-header-cell, .mat-mdc-table  .mat-mdc-header-row {
    height: 30px;
    min-height: 30px;
}


.custom-paginator,
.custom-paginator .mat-mdc-paginator-outer-container ,
.custom-paginator .mat-mdc-paginator-outer-container .mat-mdc-paginator-container,
.custom-paginator .mat-mdc-paginator-outer-container .mat-mdc-paginator-container .mat-mdc-paginator-page-size,
.custom-paginator .mat-mdc-paginator-outer-container .mat-mdc-paginator-container .mat-mdc-paginator-page-size .mat-mdc-form-field .mat-mdc-text-field-wrapper,
.custom-paginator .mat-mdc-paginator-outer-container .mat-mdc-paginator-range-actions{
    height: 36px;
    
}
.custom-paginator .mat-mdc-paginator-outer-container .mat-mdc-paginator-container .mat-mdc-paginator-page-size .mat-mdc-paginator-page-size-label{
    display: none;
   /*  height: 36px; */
}


.custom-paginator .mat-mdc-paginator-outer-container .mat-mdc-paginator-container .mat-mdc-paginator-page-size .mat-mdc-form-field .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-form-field-infix{
    padding-top: 5px;
}

.custom-paginator .mat-mdc-paginator-outer-container .mat-mdc-paginator-container{
    min-height: 36px;


    display: flex
;

    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 8px;
    flex-wrap: wrap-reverse;
    width: 100%;
}


.custom-button {
    height: 36px; /* Adjust height */
    width: 40px;  /* Adjust width */
    padding: 0;
  }


  .custom-icon-size {
    font-size: 20px; /* Adjust size */
      /* Adjust width if necessary */
  }
  