<div class="row">
    <div class="col-xxl-12">
        <div class="card shadow-none">
            <!--  <div class="card-header d-block pt-3 pb-1">
    <h5 class="mb-2"><b>Custom Fields</b></h5>
</div> -->
            <div class="card-body px-0">
                <div class="row mb-3 mx-2">
                    <mat-accordion class="example-headers-align" multi>
                        <!-- DB Configuration Pooling -->
                        <mat-expansion-panel [expanded]="false" hideToggle>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <h4><b>Fields</b></h4>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="row mb-1">


                                <mat-paginator [length]="page.totalElements" [pageSize]="page.size"
                                    [pageSizeOptions]="[5, 10, 20]" class="custom-paginator bg-transparent"
                                    (page)="handlePageEvent($event)">
                                </mat-paginator>
                            </div>
                            <div class="row mb-3">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th><small>
                                                    fieldSequence</small>
                                            </th>
                                            <th><small>
                                                    fieldName</small>
                                            </th>
                                            <th><small>
                                                    internalTagName</small>
                                            </th>
                                            <th><small>
                                                    fieldDescription</small>
                                            </th>



                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let record of pagedList; let i = index">
                                            <td>{{record.fieldSequence || "--"}}</td>
                                            <td>{{record.fieldName || "--"}}</td>
                                            <td>{{record.internalTagName || "--"}}</td>
                                            <td>{{record.fieldDescription || "--"}}</td>


                                        </tr>

                                        <tr *ngIf="fieldDefinitionList.length == 0">
                                            <td colspan="4">
                                                <span>Data not found.</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </mat-expansion-panel></mat-accordion>
                </div>
                <form [formGroup]="messageInitializationForm" (ngSubmit)="onSubmit()"
                    class="col-md-12 col-xs-12  col-lg-12 col-sm-12 mb-3">
                    <h4 class="mx-4"><b>Message Initialization</b></h4>
                    <ng-container formGroupName="messageInitializationDetails">
                        <div class="row mx-2">

                            <div class="col-md-2 mb-3">
                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                    class="custom-size-form-field">
                                    <mat-label>Message Name </mat-label>
                                    <input matInput placeholder="Enter Message Name" formControlName="messageName">
                                    <mat-error>
                                        <small> {{fieldErrors("messageName")}}</small>

                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-2 mb-3">
                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                    class=" custom-size-form-field">
                                    <mat-label>Concat</mat-label>
                                    <mat-select formControlName="identifierFields" multiple placeholder="Select Fields">
                                        @for (topping of toppingList; track topping) {
                                        <mat-option [value]="topping">{{topping}}</mat-option>
                                        }
                                    </mat-select>
                                    <mat-error>
                                        <small>{{fieldErrors("concat")}}</small>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-2 mb-3">
                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                    class="custom-size-form-field">
                                    <mat-label>Identifier Field Value </mat-label>
                                    <input matInput placeholder="Enter Identifier Field Value"
                                        formControlName="identifierFieldValue">
                                    <mat-error>
                                        <small> {{fieldErrors("identifierFieldValue")}}</small>

                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-md-2 mb-3">
                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                    class=" custom-size-form-field">
                                    <mat-label>Concat</mat-label>
                                    <mat-select formControlName="messageFields" multiple placeholder="Select Fields">
                                        @for (topping of toppingList; track topping) {
                                        <mat-option [value]="topping">{{topping}}</mat-option>
                                        }
                                    </mat-select>
                                    <mat-error>
                                        <small>{{fieldErrors("concat")}}</small>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class=" col-md-2 mb-3  d-flex align-items-center">

                                <div style="font-size: 14px;" appearance="outline" class="custom-size-form-field ">
                                    <input type="file" style="font-size: 14px;" appearance="outline"
                                        class="custom-size-form-field" formControlName="importedFile">



                                    <div *ngIf="messageInitializationForm.get('messageInitializationDetails.importedFile')?.invalid 
                                && messageInitializationForm.get('messageInitializationDetails.importedFile')?.touched"
                                        class="text-danger" style="font-size: 11px;">
                                        File is required.
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-2  mb-3  d-flex align-items-center justify-content-end">
                                <!--  <button mat-stroked-button class="d-flex w-100 align-item-center" color="primary">
                                                    HTTP Headers</button>
-->

                                <button mat-flat-button color="primary" class="rounded-3" type="submit"
                                    (click)="addMessageInitialization()">Add
                                    Channel</button>
                            </div>
                            <div class="col-md-2">
                                <button mat-flat-button color="primary" class="rounded-3" type="submit"
                                    style="background-color: #007F5F;">Next</button>

                            </div>

                        </div>
                    </ng-container>
                </form>
                <div class="row mx-3 " *ngIf="messageInitializationList.length > 0">
                    <table class="table table-bordered">
                        <thead>
                            <tr>

                                <th><small>

                                        Sequence
                                    </small>
                                </th>
                                <th><small>

                                        Message Name
                                    </small>
                                </th>

                                <th><small>

                                        Identifier Fields
                                    </small>
                                </th>
                                <th><small>

                                        Message Fields
                                    </small>
                                </th>
                                <th><small>

                                        Actions
                                    </small>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let record of messageInitializationList; let i = index">




                                <td>{{i +1}}</td>
                                <td>{{record.messageName || "--"}}</td>
                                <td>{{record.identifierFields || "--"}}</td>
                                <td>{{record.messageFields || "--"}}</td>
                                <td>
                                    <!--    <button mat-icon-button color="primary" (click)="editMessageInitialization(i)">
                                           <mat-icon>edit</mat-icon>
                                       </button> -->
                                    <button mat-icon-button color="warn" (click)="removeMessageInitialization(i)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </tr>

                            <tr *ngIf="messageInitializationList.length == 0">
                                <td colspan="4">
                                    <span>Data not found.</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>