<div class="row">
    <div class="col-xxl-12">
        <div class="card shadow-none">
            <!--  <div class="card-header d-block pt-3 pb-1">
    <h5 class="mb-2"><b>Custom Fields</b></h5>
</div> -->
            <div class="card-body px-0">
                <form [formGroup]="form" (submit)="onSubmit()" class="col-md-12 col-xs-12  col-lg-12 col-sm-12 ">
                    <h4 class="mx-4"><b>Custom Fields</b></h4>
                    <ng-container formGroupName="customFieldsDetails">

                        <div class="row mb-3 mx-2">
                            <div class="col-md-2">
                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                    class=" custom-size-form-field ">
                                    <mat-label>Channel</mat-label>
                                    <mat-select placeholder="Select Channel" formControlName="channelId">
                                        <!-- <mat-select placeholder="Institution" formControlName="institutionId"> -->
                                        <mat-option [value]="1">
                                            1
                                        </mat-option>
                                        <mat-option [value]="1">
                                            1
                                        </mat-option>
                                    </mat-select>
                                    <mat-error>
                                        <small>{{fieldErrors("channelId")}}</small>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                    class=" custom-size-form-field">
                                    <mat-label>messageId</mat-label>
                                    <mat-select formControlName="messageId" multiple placeholder="Select Fields">
                                        @for (topping of toppingList; track topping) {
                                        <mat-option [value]="topping">{{topping}}</mat-option>
                                        }
                                    </mat-select>
                                    <mat-error>
                                        <small>{{fieldErrors("messageId")}}</small>
                                    </mat-error>
                                </mat-form-field>

                            </div>
                            <div class="col-md-2 mb-3 ">
                                <mat-checkbox class="example-margin" formControlName="isConditional"
                                    (change)="onChangeIsConditional()">Conditional
                                </mat-checkbox>
                            </div>



                            <div class="col-md-2 ">
                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                    class=" custom-size-form-field">
                                    <mat-label>Direction</mat-label>
                                    <mat-select placeholder="Select Direction" formControlName="directionId">
                                        <!-- <mat-select placeholder="Institution" > -->
                                        <mat-option [value]="1">
                                            1
                                        </mat-option>
                                        <mat-option [value]="1">
                                            1
                                        </mat-option>
                                    </mat-select>
                                    <mat-error>
                                        <small>{{fieldErrors("directionId")}}</small>
                                    </mat-error>
                                </mat-form-field>


                            </div>





                        </div>

                        <div class="row mb-3 mx-2">

                            <div class="col-md-2">
                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                    class="custom-size-form-field">
                                    <mat-label>Destination Field Tag Name</mat-label>
                                    <input matInput placeholder="Enter Tag Name" formControlName="fieldTagName">
                                    <mat-error>
                                        <small>{{fieldErrors("fieldTagName")}}</small>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <ng-container *ngIf="form.get('customFieldsDetails.isConditional')?.value">
                                <div class="col-md-2">
                                    <mat-form-field style="font-size: 14px;" appearance="outline"
                                        class=" custom-size-form-field ">
                                        <mat-label>Select Condition</mat-label>
                                        <mat-select placeholder="Select Condition" formControlName="conditionId"
                                            (selectionChange)="onChangeConditionType()">
                                            <!-- <mat-select placeholder="Institution"> -->
                                            <mat-option value="STATIC">
                                                Static
                                            </mat-option>
                                            <mat-option value="APPEND">
                                                Append
                                            </mat-option>
                                            <mat-option value="SUB_STRING">
                                                Substring
                                            </mat-option>
                                            <mat-option value="COPY">
                                                Copy
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>
                                            <small>{{fieldErrors("conditionId")}}</small>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </ng-container>

                            <ng-container *ngIf="form.get('customFieldsDetails.conditionId')?.value === 'STATIC'">
                                <div class="col-md-2">
                                    <mat-form-field style="font-size: 14px;" appearance="outline"
                                        class="custom-size-form-field">
                                        <mat-label>Static Value</mat-label>
                                        <input matInput placeholder="Enter Static Value" formControlName="staticValue">
                                        <mat-error>
                                            <small>{{fieldErrors("staticValue")}}</small>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </ng-container>

                            <ng-container *ngIf="form.get('customFieldsDetails.conditionId')?.value === 'COPY'">
                                <div class="col-md-2">
                                    <mat-form-field style="font-size: 14px;" appearance="outline"
                                        class=" custom-size-form-field">
                                        <mat-label>Select Direction</mat-label>
                                        <mat-select placeholder="Select Field" formControlName="sourceFieldId">
                                            <!-- <mat-select placeholder="Institution"> -->
                                            <mat-option [value]="1">
                                                1
                                            </mat-option>
                                            <mat-option [value]="1">
                                                1
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>
                                            <small>{{fieldErrors("sourceFieldId")}}</small>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </ng-container>


                            <ng-container *ngIf="form.get('customFieldsDetails.conditionId')?.value === 'APPEND'">
                                <div class="col-md-2">
                                    <mat-form-field style="font-size: 14px;" appearance="outline"
                                        class=" custom-size-form-field">
                                        <mat-label>Concat</mat-label>
                                        <mat-select formControlName="concat" multiple placeholder="Select Fields">
                                            @for (topping of toppingList; track topping) {
                                            <mat-option [value]="topping">{{topping}}</mat-option>
                                            }
                                        </mat-select>
                                        <mat-error>
                                            <small>{{fieldErrors("concat")}}</small>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </ng-container>


                            <ng-container *ngIf="form.get('customFieldsDetails.conditionId')?.value === 'SUB_STRING'">
                                <div class="col-md-2">
                                    <mat-form-field style="font-size: 14px;" appearance="outline"
                                        class=" custom-size-form-field">
                                        <mat-label>Source Field</mat-label>
                                        <mat-select formControlName="sourceFieldId" placeholder="Select Source Field">

                                            <mat-option [value]="1">
                                                1
                                            </mat-option>
                                            <mat-option [value]="1">
                                                1
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>
                                            <small>{{fieldErrors("sourceFieldId")}}</small>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field style="font-size: 14px;" appearance="outline"
                                        class="custom-size-form-field">
                                        <mat-label>Starting Index</mat-label>
                                        <input matInput placeholder="Enter Starting Index"
                                            formControlName="startingIndex">
                                        <mat-error>
                                            <small>{{fieldErrors("startingIndex")}}</small>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field style="font-size: 14px;" appearance="outline"
                                        class="custom-size-form-field">
                                        <mat-label>Substring Length</mat-label>
                                        <input matInput placeholder="Enter Substring Length"
                                            formControlName="subStringLength">
                                        <mat-error>
                                            <small>{{fieldErrors("subStringLength")}}</small>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </ng-container>
                            <div class="col-md-2  mb-3  d-flex align-items-center">
                                <!--  <button mat-stroked-button class="d-flex w-100 align-item-center" color="primary">
                                    HTTP Headers</button>
    -->
                                <button mat-flat-button color="primary" class="rounded-3" type="submit"
                                    (click)="addCustomField()">Add Channel</button>


                            </div>
                        </div>

                    </ng-container>
                    <div class="row  mx-2 d-flex justify-content-end">
                        <div class="col-md-3">
                            <button mat-flat-button color="primary" class="rounded-3" type="submit"
                                style="background-color: #007F5F;">Next</button>

                        </div>
                    </div>
                </form>

                <div class="row mx-3 " *ngIf="customFieldsList.length > 0">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th><small>

                                        Sequence</small>
                                </th>
                                <th><small>

                                        channelId</small>
                                </th>
                                <th><small>

                                        messageId</small>
                                </th>

                                <th><small>

                                        isConditional</small>
                                </th>
                                <th><small>

                                        directionId</small>
                                </th>
                                <th><small>

                                    Action</small>
                            </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let record of customFieldsList; let i = index">
                                <td>{{i+1 || "--"}}</td>

                                <td>{{record.channelId || "--"}}</td>
                                <td>{{record.messageId || "--"}}</td>
                                <td>{{record.isConditional ?? false}}</td>
                                <td>{{record.directionId || "--"}}</td>
                                <td>
                                    <button mat-icon-button color="primary" (click)="editFieldMapping(i)">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button mat-icon-button color="warn" (click)="removeFieldMapping(i)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </tr>

                            <tr *ngIf="customFieldsList.length == 0">
                                <td colspan="4">
                                    <span>Data not found.</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>