<div class="content-body">
    <div class="container-fluid">
        <div class="row mb-1">
            <div class="col-md-5 d-flex align-items-center">
                <h5 class="mb-2"><b>Channels ({{ this.dataSource.data.length || 0 }})</b></h5>
            </div>
            <div class=" col-md-7 d-flex align-items-center justify-content-end">


                <div class="col-md-3 ">
                    <!--     <button mat-flat-button color="secondary" class="rounded-3">Create Channel</button> -->
                    <button mat-flat-button color="primary" class="rounded-3 custom-button"
                        (click)="addchannelDetails()">New Channel</button>
                </div>
            </div>

        </div>

        <div class="row mb-1">
            <div class="col-md-7 pr-1">


                <mat-form-field class="custom-size-form-field example-chip-list" appearance="outline">
                    <mat-label>Favorite Fruits</mat-label>
                    <mat-chip-grid #chipGrid aria-label="Enter fruits">
                        @for (fruit of fruits(); track fruit) {
                        <mat-chip-row (removed)="remove(fruit)" [editable]="true" (edited)="edit(fruit, $event)"
                            [aria-description]="'press enter to edit ' + fruit.name">
                            {{fruit.name}}
                            <button matChipRemove [attr.aria-label]="'remove ' + fruit.name">
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip-row>
                        }
                        <input placeholder="New fruit..." [matChipInputFor]="chipGrid"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                            (matChipInputTokenEnd)="add($event)" />
                    </mat-chip-grid>
                </mat-form-field>


            </div>


            <div class="col-md-4">
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"
                    class="custom-paginator bg-transparent"></mat-paginator>


            </div>
            <div class="col-md-1 d-flex justify-content-end">
                <button mat-stroked-button class="rounded-3 custom-button" [matMenuTriggerFor]="columnMenu">
                    <mat-icon class="mx-1">view_week</mat-icon>
                </button>

                <mat-menu #columnMenu="matMenu">
                    <mat-checkbox *ngFor="let column of displayedColumns" [(ngModel)]="columnVisibility[column]">
                        {{ column | titlecase }}
                    </mat-checkbox>
                </mat-menu>
            </div>

        </div>

        <div class="table-responsive"
            style="overflow-x: auto; max-width: 100%; border-right: 1px solid #ccc; border-radius: 5px;">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container *ngFor="let column of displayedColumns">
                    <ng-container *ngIf="columnVisibility[column]">
                        <ng-container matColumnDef="{{ column }}">
                            <mat-header-cell *matHeaderCellDef [style.border]="'0.25pt solid grey'"
                                [style.border-width]="'thin'"> {{ column | titlecase }} </mat-header-cell>
                            <mat-cell *matCellDef="let element" matTooltip="{{ element[column] }}"
                                [style.border]="'0.25pt solid grey'" [style.border-width]="'thin'">
                                {{ element[column] ? element[column] : '- -' }}
                            </mat-cell>
                        </ng-container>
                    </ng-container>
                </ng-container>

                <!-- Header and row definitions -->
                <mat-header-row *matHeaderRowDef="visibleColumns"></mat-header-row>
                <mat-row *matRowDef="let element; columns: visibleColumns;" (click)="filterToSingleRow(element)"
                    [ngClass]="{'highlight-row': element.active === true }">
                </mat-row><!-- (click)="getRecord(element.networkGroupId)" -->

            </table>

        </div>

        <div class="card shadow-none p-2" style="border-radius: 0px;" *ngIf="this.channelId">
            <ng-container><!-- *ngFor="let item of instanceDetails" -->
                <div class="row d-flex align-items-center card-header p-1">
                    <div class="col-md-8">
                        <h5 class="my-2"
                            style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%;">
                            <b>View Institution
                            </b><!-- {{item.jsonParseData ? item.jsonParseData.instance : '--'}} -->
                        </h5>
                    </div>
                    <div class="col-md-4 d-flex justify-content-end">

                        <mat-chip-option routerLink="/admin/manage-mapping-channels-details">Complete
                            Mapping</mat-chip-option>
                        <span class="mx-2 pointer d-flex align-items-center" (click)="editChannelDetails()">

                            <!--      <mat-icon class="custom-icon-size">settings</mat-icon> -->
                            <i class="fa fa-pen pointer zoomer" style="font-size: 14px; color: #003F9B;"></i>
                        </span>

                        <span class="mx-2 pointer d-flex align-items-center" routerLink="/admin/manage-channel-details">
                            <!--      <mat-icon class="custom-icon-size">settings</mat-icon> -->
                            <i class="fa fa-trash" style="font-size: 14px; color: #ff1c1c"></i>
                        </span>
                        <span class="mx-2 pointer d-flex align-items-center" (click)="resetTable()">
                            <mat-icon class="pointer custom-icon-size d-flex align-items-center">clear</mat-icon>

                        </span>

                    </div>
                </div>
            </ng-container>
            <mat-tab-group>
                <mat-tab *ngFor="let tab of tabs">
                    <ng-template mat-tab-label color="primary">
                        <span style="padding: 4px 4px; font-size: 12px;">{{ tab.label }}</span>
                    </ng-template>
                    <div *ngIf="tab.type === 'Channels'">
                        <app-add-channel-details [shouldShow]="showChild" [viewChannelId] ="viewChannelId"></app-add-channel-details>

                    </div>

                    <div *ngIf="tab.type === 'Channel Endpoints'">
                        <app-add-endpoint-details [shouldShow]="showChild" [viewChannelId] ="viewChannelId"> </app-add-endpoint-details>
                    </div>
                    <div *ngIf="tab.type === 'Channel Queues'">
                        <app-add-queues-details [shouldShow]="showChild" [viewChannelId] ="viewChannelId"></app-add-queues-details>
                    </div>



                    <div *ngIf="tab.type === 'Channel Services'">
                        <app-add-services-details [shouldShow]="showChild" [viewChannelId] ="viewChannelId"></app-add-services-details>
                    </div>
                    <div *ngIf="tab.type === 'Field Definition'">
                        <app-add-field-definition [shouldShow]="showChild"></app-add-field-definition>
                    </div>

                    <div *ngIf="tab.type === 'Message Initialization'">
                        <app-add-message-initialization-details
                            [shouldShow]="showChild"></app-add-message-initialization-details>
                    </div>

                    <div *ngIf="tab.type === 'Custom Fields'">
                        <app-add-custom-field-details [shouldShow]="showChild"></app-add-custom-field-details>
                    </div>



                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>