<div class="content-body "  >
    <div class="container-fluid">
      <div class="card shadow-none " style="border-radius: 0px;">
              <mat-tab-group (selectedTabChange)="onTabChange($event)">
          <mat-tab *ngFor="let tab of tabs">
            <ng-template mat-tab-label>
              <span>{{ tab.label }}</span>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      <!--   <mat-stepper linear #stepper (selectedTabChange)="onTabChange($event)">
          <mat-step *ngFor="let tab of tabs">
            <span>{{ tab.label }}</span> -->
 
            <app-preview-message-routing
              *ngIf="selectedTab === 'Preview Message Field Mapping'"></app-preview-message-routing>
  
            <app-preview-message-field-mapping *ngIf="selectedTab === 'Preview Message Routing'"></app-preview-message-field-mapping>
  
          
        
           <!--  <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
          </div>
          </mat-step></mat-stepper> -->
      </div>
    </div>
  </div>