
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <app-breadcrumb [breadcrumb]="breadcrumbList"> </app-breadcrumb>
        </div>
        <!-- row -->
        <div class="row">
            <div class="col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Basic Paginator</h4>
                    </div>
                    <div class="card-body">
                        <app-basic-paginator></app-basic-paginator>
                    </div>
                </div>
            </div>
             <div class="col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Configurable paginator</h4>
                    </div>
                    <div class="card-body">
                        <app-configurable-paginator></app-configurable-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
