<div class="row">
    <div class="col-xxl-12">
        <div class="card shadow-none">
            <!--  <div class="card-header d-block pt-3 pb-1">
        <h5 class="mb-2"><b>Custom Fields</b></h5>
    </div> -->
            <div class="card-body px-0">
                <form [formGroup]="form" (ngSubmit)="onSubmit()" class="col-md-12 col-xs-12  col-lg-12 col-sm-12 ">
                    <h4 class="mx-4"><b>Create a new Endpoint</b></h4>
                    <div class="row mx-2">

                        <div class="col-md-4">
                            <mat-form-field style="font-size: 14px;" appearance="outline"
                                class="custom-size-form-field">
                                <mat-label>Url Endpoint</mat-label>
                                <input matInput placeholder="Enter Url Endpoint*" formControlName="urlEnpoint">
                                <mat-error>
                                    <small>Required</small>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field style="font-size: 14px;" appearance="outline"
                                class="custom-size-form-field">
                                <mat-label>Connection Timeout</mat-label>
                                <input matInput placeholder="Enter Connection Timeout*"
                                    formControlName="connectionTimeout">
                                <mat-error>
                                    <small>Required</small>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-4 mb-3 ">
                            <mat-radio-group aria-label="Select an option" formControlName="isClient">
                                <mat-radio-button value="Client" (change)="onChangeClient()">Client</mat-radio-button>
                                <mat-radio-button value="Server" (change)="onChangeServer()">Server</mat-radio-button>
                            </mat-radio-group>

                            <!--    <mat-checkbox class="example-margin" formControlName="isServer" (change)="onChangeServer()">Server? </mat-checkbox>
                           -->
                        </div>



                    </div>
                    <div class="row mx-2">

                        <div class="col-md-2 mb-3 ">
                            <mat-checkbox class="example-margin" formControlName="isTls" (change)="onChangeTLS()">Enable
                                TLS? </mat-checkbox>
                        </div>
                        <div class="col-md-2 mb-3" *ngIf="this.form.controls.isTls.value != true ">
                        </div>
                        <div class="col-md-2 mb-3" *ngIf="this.form.controls.isTls.value == true ">
                            <mat-form-field style="font-size: 14px;" appearance="outline"
                                class=" custom-size-form-field ">
                                <mat-label>TLS Version</mat-label>
                                <mat-select formControlName="tlsVersion">
                                    <!-- <mat-select placeholder="Institution" formControlName="institutionId"> -->
                                    <mat-option [value]="1">
                                        1
                                    </mat-option>
                                    <mat-option [value]="1">
                                        1
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>



                        <div class="col-md-4 mb-3">
                            <mat-form-field style="font-size: 14px;" appearance="outline"
                                class="custom-size-form-field">
                                <mat-label>Cert Path</mat-label>
                                <input matInput placeholder="First Name*" formControlName="certPath">
                                <mat-error>
                                    <small>Required</small>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-4 mb-3">
                            <mat-form-field style="font-size: 14px;" appearance="outline"
                                class="custom-size-form-field">
                                <mat-label>Key File Path</mat-label>
                                <input matInput placeholder="keyFilePath*" formControlName="keyFilePath">
                                <mat-error>
                                    <small>Required</small>
                                </mat-error>
                            </mat-form-field>
                        </div>




                    </div>
                    <div class="row mx-2">


                        <div class="col-md-4  mb-3">
                            <mat-form-field style="font-size: 14px;" appearance="outline"
                                class=" custom-size-form-field ">
                                <mat-label>Auth Type</mat-label>
                                <mat-select formControlName="authtype">
                                    <!-- <mat-select placeholder="Institution" > -->
                                    <mat-option [value]="1">
                                        1
                                    </mat-option>
                                    <mat-option [value]="1">
                                        1
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>


                        <div class="col-md-4  mb-3">
                            <mat-form-field style="font-size: 14px;" appearance="outline"
                                class="custom-size-form-field">
                                <mat-label>Username</mat-label>
                                <input matInput placeholder="First Name*" formControlName="username">
                                <mat-error>
                                    <small>Required</small>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4  mb-3">
                            <mat-form-field style="font-size: 14px;" appearance="outline"
                                class="custom-size-form-field">
                                <mat-label>Password</mat-label>
                                <input matInput placeholder="First Name*" formControlName="password">
                                <mat-error>
                                    <small>Required</small>
                                </mat-error>
                            </mat-form-field>
                        </div>


                    </div>
                    <div class="row mx-2" *ngIf="this.form.controls.isClient.value == 'Server' ">
                        <ng-container formGroupName="header">
                            <div class="col-md-2">
                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                    class="custom-size-form-field">
                                    <mat-label>Header Key</mat-label>
                                    <input matInput placeholder="Enter *" formControlName="headerKey">
                                    <mat-error>
                                        <small>Required</small>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                    class="custom-size-form-field">
                                    <mat-label>Header Value</mat-label>
                                    <input matInput placeholder="First Name*" formControlName="headerValue">
                                    <mat-error>
                                        <small>Required</small>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                    class="custom-size-form-field">
                                    <mat-label>Sequence</mat-label>
                                    <input matInput placeholder="First Name*" formControlName="headerSequence">
                                    <mat-error>
                                        <small>Required</small>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <button mat-flat-button color="primary" class="rounded-3" type="button"
                                    (click)="addHeader()">Add
                                    Channel</button>
                            </div>
                        </ng-container>

                        <!-- <div class="col-md-2">
                            <mat-form-field style="font-size: 14px;" appearance="outline"
                                class="custom-size-form-field">
                                <mat-label>Header Key</mat-label>
                                <input matInput placeholder="Enter *" formControlName="headerKey">
                                <mat-error>
                                    <small>Required</small>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-2">
                            <mat-form-field style="font-size: 14px;" appearance="outline"
                                class="custom-size-form-field">
                                <mat-label>Header Value</mat-label>
                                <input matInput placeholder="First Name*" formControlName="headerValue">
                                <mat-error>
                                    <small>Required</small>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-2">
                            <mat-form-field style="font-size: 14px;" appearance="outline"
                                class="custom-size-form-field">
                                <mat-label>Sequence</mat-label>
                                <input matInput placeholder="First Name*" formControlName="sequence">
                                <mat-error>
                                    <small>Required</small>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <button mat-flat-button color="primary" class="rounded-3" type="button"    (click)="addHeader()">Add
                                Channel</button>
                        </div> -->
                    </div>
                    <div class="row mx-3 " *ngIf="lstHeader.length > 0">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>S.No</th>
                                    <th style="width: 400px;">KEY</th>
                                    <th>VALUE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let record of lstHeader; let i = index">
                                    <td>
                                        <span class="mx-2 pointer"><!-- (click)="removeHeader(record)" -->
                                            <i class="fa fa-trash" style="color: #ff1c1c"></i>
                                        </span>
                                    </td>
                                    <td>{{i + 1}}</td>
                                    <td>{{record.headerKey || "--"}}</td>
                                    <td>{{record.headerValue || "--"}}</td>
                                </tr>

                                <tr *ngIf="lstHeader.length == 0">
                                    <td colspan="4">
                                        <span>Data not found.</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row mx-2" *ngIf="this.form.controls.isClient.value == 'Client' ">

                        <div class="col-md-2">
                            <mat-form-field style="font-size: 14px;" appearance="outline"
                                class="custom-size-form-field">
                                <mat-label>White List IPs</mat-label>
                                <input matInput placeholder="First Name*" formControlName="whiteListIps">
                                <mat-error>
                                    <small>Required</small>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <button mat-flat-button color="primary" class="rounded-3" type="button"  (click)="addHeader()">Add
                                Channel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>