<div class="content-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <h5 class="mb-2"><b>Channel (2)</b></h5>
      </div>
      <div class="row col-md-7">

        <div class="col-md-2 px-1" style="display: flex
        ;
            justify-content: end;">


          <button mat-stroked-button class="rounded-3 custom-button">
            <mat-icon class="mx-0">replay</mat-icon>
          </button>
        </div>
        <div class="col-md-2 px-1">


          <button mat-stroked-button class="rounded-3">Connect</button>
        </div>
        <div class="col-md-3 px-1">
          <mat-form-field style="font-size: 14px;" appearance="outline" class=" custom-size-form-field">
            <mat-label>Actions</mat-label>
            <mat-select>
              <!-- <mat-select placeholder="Institution" formControlName="institutionId"> -->
              <mat-option [value]="1">
                1
              </mat-option>
              <mat-option [value]="1">
                1
              </mat-option>
            </mat-select>
          </mat-form-field>


        </div>
        <div class="col-md-2 px-1">
          <mat-form-field style="font-size: 14px;" appearance="outline" class=" custom-size-form-field">
            <mat-label>Any State</mat-label>
            <mat-select>
              <!-- <mat-select placeholder="Institution" formControlName="institutionId"> -->
              <mat-option [value]="1">
                1
              </mat-option>
              <mat-option [value]="1">
                1
              </mat-option>
            </mat-select>
          </mat-form-field>


        </div>
        <div class="col-md-3 px-1">
         
          <button mat-flat-button color="primary" class="rounded-3">Create Channel</button>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-6 pr-1">

        <mat-form-field style="font-size: 14px;" appearance="outline" class="custom-size-form-field">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
          <mat-icon matPrefix> search</mat-icon>

        </mat-form-field>

      </div>
      <div class="col-md-2 px-1">
        <mat-form-field style="font-size: 14px;" appearance="outline" class=" custom-size-form-field">
          <mat-label>Any State</mat-label>
          <mat-select>
            <!-- <mat-select placeholder="Institution" formControlName="institutionId"> -->
            <mat-option [value]="1">
              1
            </mat-option>
            <mat-option [value]="1">
              1
            </mat-option>
          </mat-select>
        </mat-form-field>


      </div>
      <div class="col-md-4">
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" class="custom-paginator bg-transparent"></mat-paginator>


      </div>

    </div>

    <table mat-table [dataSource]="dataSource" class="mb-3">

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Weight </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row (click)="getRecord(row.position)" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div class="card shadow-none p-2" style="border-radius: 0px;" *ngIf="this.isData">
      <div class="row d-flex align-items-center">
        <div class="col-md-10">
          <h5 class="my-2 " style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%;"><b>umer
              Instance: (arm:aws:cloudformation:us-east-
              1:937125899204:stack/OuraanProduction/d5c38eb0-9394-11ee-a35b- |
              Ocdaddg0fdag-OuraanCodePipeline)</b></h5>
        </div>
        <div class="col-md-2 d-flex justify-content-end">
          <span class="mx-2 pointer d-flex align-items-center">
            <mat-icon class="custom-icon-size">settings</mat-icon>
          </span>
          <span class="mx-2 pointer d-flex align-items-center">
            <mat-icon class="custom-icon-size">clear</mat-icon>
          </span>

        </div>
      </div>
      <mat-tab-group>
        <mat-tab *ngFor="let tab of tabs">
          <ng-template mat-tab-label>
            <span style="padding: 4px 4px; font-size: 12px;">{{ tab.label }}</span>
          </ng-template>

          <!-- Content for Form Tab -->
          <div *ngIf="tab.type === 'form'">
            <div class="row">
              <div class="col-xxl-12">
                <div class="card shadow-none">
                  <div class="card-header d-block pt-3 pb-1">
                    <h5 class="mb-2"><b>Custom Fields</b></h5>
                  </div>
                  <div class="card-body px-0">
                    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="col-md-12 col-xs-12  col-lg-12 col-sm-12 ">
                      <div class="row">
                        <div class="col-md-2">
                          <mat-form-field style="font-size: 14px;" appearance="outline" class=" custom-size-form-field">
                            <mat-label>Any State</mat-label>
                            <mat-select>
                              <!-- <mat-select placeholder="Institution" formControlName="institutionId"> -->
                              <mat-option [value]="1">
                                1
                              </mat-option>
                              <mat-option [value]="1">
                                1
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>


                        <div class="col-md-3 px-1">
                          <mat-form-field style="font-size: 14px;" appearance="outline" class=" custom-size-form-field">
                            <mat-label>Actions</mat-label>
                            <mat-select>
                              <!-- <mat-select placeholder="Institution" formControlName="institutionId"> -->
                              <mat-option [value]="1">
                                1
                              </mat-option>
                              <mat-option [value]="1">
                                1
                              </mat-option>
                            </mat-select>
                          </mat-form-field>


                        </div>
                        <!--     <div class="col-md-2 px-1" style="display: flex
                            ;
                                justify-content: end;">
                    
                    
                              <button mat-stroked-button class="rounded-3 custom-button">
                                <mat-icon class="mx-0">replay</mat-icon>
                              </button>
                            </div>-->
                        <div class="col-md-2 px-1">


                          <mat-checkbox class="example-margin">Check me!</mat-checkbox>
                        </div>
                        <div class="col-md-2 px-1">
                          <mat-form-field style="font-size: 14px;" appearance="outline" class=" custom-size-form-field">
                            <mat-label>Any State</mat-label>
                            <mat-select>
                              <!-- <mat-select placeholder="Institution" formControlName="institutionId"> -->
                              <mat-option [value]="1">
                                1
                              </mat-option>
                              <mat-option [value]="1">
                                1
                              </mat-option>
                            </mat-select>
                          </mat-form-field>


                        </div>
                        <div class="col-md-2 px-1">
                          <button mat-stroked-button class="rounded-3" color="primary"> Click</button>


                        </div>

                      </div>
                    </form>
                    <div>
                      <table mat-table [dataSource]="tableData" class="border">
                        <ng-container matColumnDef="id">
                          <th mat-header-cell *matHeaderCellDef> ID </th>
                          <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
                        </ng-container>

                        <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef> Name </th>
                          <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
                        </ng-container>

                        <ng-container matColumnDef="age">
                          <th mat-header-cell *matHeaderCellDef> Age </th>
                          <td mat-cell *matCellDef="let element"> {{ element.age }} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="['id', 'name', 'age']"></tr>
                        <tr mat-row *matRowDef="let row; columns: ['id', 'name', 'age']"
                          (click)="getFormRecord(row.id)">
                        </tr>
                      </table>
                      <div class="card shadow-none p-2 bg-transparent" style="border-radius: 0px;"
                        *ngIf="this.isformData">

                        <div class="card-header d-block pt-3 pb-1">
                          <h5 class="mb-2"><b>Destination Field tag Name</b></h5>
                        </div>
                        <div class="card-body px-0">
                          <div class="container-fluid">
                            <form [formGroup]="form" (ngSubmit)="onSubmit()"
                              class="col-md-12 col-xs-12  col-lg-12 col-sm-12 ">
                              <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field style="font-size: 14px;" appearance="outline"
                                    class="custom-size-form-field">
                                    <mat-label>Filter</mat-label>
                                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>


                                  </mat-form-field>
                                </div>


                                <div class="col-md-2">
                                  <mat-form-field style="font-size: 14px;" appearance="outline"
                                    class="custom-size-form-field">
                                    <mat-label>Filter</mat-label>
                                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>


                                  </mat-form-field>


                                </div>

                                <div class="col-md-2">


                                  <mat-checkbox class="example-margin">Check me!</mat-checkbox>
                                </div>
                                <div class="col-md-2">
                                  <mat-form-field style="font-size: 14px;" appearance="outline"
                                    class=" custom-size-form-field">
                                    <mat-label>Any State</mat-label>
                                    <mat-select>
                                      <!-- <mat-select placeholder="Institution" formControlName="institutionId"> -->
                                      <mat-option [value]="1">
                                        1
                                      </mat-option>
                                      <mat-option [value]="1">
                                        1
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>


                                </div>


                              </div>
                              <div class="row">
                                <div class="col-md-2 ">


                                  <mat-checkbox class="example-margin">Check me!</mat-checkbox>
                                </div>




                                <div class="col-md-2 ">
                                  <mat-form-field style="font-size: 14px;" appearance="outline"
                                    class=" custom-size-form-field">
                                    <mat-label>Any State</mat-label>
                                    <mat-select>
                                      <!-- <mat-select placeholder="Institution" formControlName="institutionId"> -->
                                      <mat-option [value]="1">
                                        1
                                      </mat-option>
                                      <mat-option [value]="1">
                                        1
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>


                                </div>
                                <div class="col-md-2 ">
                                  <mat-form-field style="font-size: 14px;" appearance="outline"
                                    class="custom-size-form-field">
                                    <mat-label>Filter</mat-label>
                                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>


                                  </mat-form-field>


                                </div>
                                <div class="col-md-2 ">
                                  <mat-form-field style="font-size: 14px;" appearance="outline"
                                    class="custom-size-form-field">
                                    <mat-label>Filter</mat-label>
                                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>


                                  </mat-form-field>


                                </div>
                                <div class="col-md-2 ">


                                  <mat-checkbox class="example-margin">Check me!</mat-checkbox>
                                </div>



                                <div class="col-md-2 ">
                                  <mat-form-field style="font-size: 14px;" appearance="outline"
                                    class=" custom-size-form-field">
                                    <mat-label>Any State</mat-label>
                                    <mat-select>
                                      <!-- <mat-select placeholder="Institution" formControlName="institutionId"> -->
                                      <mat-option [value]="1">
                                        1
                                      </mat-option>
                                      <mat-option [value]="1">
                                        1
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>


                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-2 ">


                                  <mat-checkbox class="example-margin">Check me!</mat-checkbox>
                                </div>
                                <div class="col-md-2 ">
                                  <mat-form-field style="font-size: 14px;" appearance="outline"
                                    class="custom-size-form-field">
                                    <mat-label>Filter</mat-label>
                                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>


                                  </mat-form-field>
                                </div>


                                <div class="col-md-2 ">
                                  <mat-form-field style="font-size: 14px;" appearance="outline"
                                    class="custom-size-form-field">
                                    <mat-label>Filter</mat-label>
                                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>


                                  </mat-form-field>


                                </div>


                                <div class="col-md-4 ">
                                  <mat-form-field style="font-size: 14px;" appearance="outline"
                                    class=" custom-size-form-field">
                                    <mat-label>Any State</mat-label>
                                    <mat-select>
                                      <!-- <mat-select placeholder="Institution" formControlName="institutionId"> -->
                                      <mat-option [value]="1">
                                        1
                                      </mat-option>
                                      <mat-option [value]="1">
                                        1
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>


                                </div>

                                



                                <div class="col-md-2 ">
                                  <button mat-flat-button color="primary" class="rounded-3">Create Channel</button>


                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <!-- Content for Table Tab -->
          <div *ngIf="tab.type === 'table'">
            <div class="row">
              <p class="my-1"><strong>Instance Summary</strong></p>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <p> <b>


                  instance ID:
                </b>

                </p>
                <p class="mb-2">i-Ocdaddg0fdag-OuraanCodePipeline</p>
                <p>1PV6 address</p>
                <p class="mb-2">-</p>
                <p>Hostname type</p>

                <p class="mb-2">IP name:ip-172-31-3-251.ec2 internal</p>

                <p>Answer private resource DNS name</p>
                <p class="mb-2">-</p>

                <p>Auto-assigned IP address</p>
                <p class="mb-2">-</p>

              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 border-dark border-1 border-start">
               <p class="my-1"><strong>Instance Summary</strong></p>
                <p>
                  instance ID:

                </p>
                <p class="mb-2"> (arm:aws:cloudformation:us-east-
                  1:937124899204:stack/OuraanProduction/d5c38eb0-9394-11ee-a35b- |
                  Ocdaddg0fdag-OuraanCodePipeline)</p>
                <p>1PV6 address</p>
                <p class="mb-2">-</p>
                <p>Hostname type</p>

                <p class="mb-2">IP name:ip-172-31-3-251.ec2 internal</p>

                <p>Answer private resource DNS name</p>
                <p class="mb-2">-</p>

                <p>Auto-assigned IP address</p>
                <p class="mb-2">-</p>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 border-dark border-1 border-start">
                <p>
                  instance ID:

                </p>
                <p class="mb-2"> (arm:aws:cloudformation:us-east-
                  1:937124899204:stack/OuraanProduction/d5c38eb0-9394-11ee-a35b- |
                  Ocdaddg0fdag-OuraanCodePipeline)</p>
                <p>1PV6 address</p>
                <p class="mb-2">-</p>
                <p>Hostname type</p>

                <p class="mb-2">IP name:ip-172-31-3-251.ec2 internal</p>

                <p>Answer private resource DNS name</p>
                <p class="mb-2">-</p>

                <p>Auto-assigned IP address</p>
                <p class="mb-2">-</p>
              </div>
            </div>
          </div>

          <!-- Content for Paragraph Tab -->
          <div *ngIf="tab.type === 'details'">
            <div class="row">
              <div class="col-md-5 col-sm-6 col-xs-12">
                <p class="my-1"><strong>Instance Summary</strong></p>
                <p>
                  instance ID:

                </p>
                <p class="mb-2"> (arm:aws:cloudformation:us-east-
                  1:937124899204:stack/OuraanProduction/d5c38eb0-9394-11ee-a35b- |
                  Ocdaddg0fdag-OuraanCodePipeline)</p>
                <p>1PV6 address</p>
                <p class="mb-2">-</p>
                <p>Hostname type</p>

                <p class="mb-2">IP name:ip-172-31-3-251.ec2 internal</p>

                <p>Answer private resource DNS name</p>
                <p class="mb-2">-</p>

                <p>Auto-assigned IP address</p>
                <p class="mb-2">-</p>

              </div>
              <div class="col-md-7 col-sm-6 col-xs-12 border-dark border-1 border-start">
                <p class="my-1"><strong>Instance Summary</strong></p>
                <p>
                  instance ID:

                </p>
                <p class="mb-2"> (arm:aws:cloudformation:us-east-
                  1:937124899204:stack/OuraanProduction/d5c38eb0-9394-11ee-a35b- |
                  Ocdaddg0fdag-OuraanCodePipeline)</p>
                <p>1PV6 address</p>
                <p class="mb-2">-</p>
                <p>Hostname type</p>

                <p class="mb-2">IP name:ip-172-31-3-251.ec2 internal</p>

                <p>Answer private resource DNS name</p>
                <p class="mb-2">-</p>

                <p>Auto-assigned IP address</p>
                <p class="mb-2">-</p>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>


    </div>

  </div>
</div>