<div class="row">
    <div class="col-xl-4 mb-3">
        <div class="example">
            <label class="form-label">Date Range Pick</label>
            <app-date1></app-date1>
        </div>
    </div>
    <div class="col-xl-4 mb-3">
        <div class="example">
            <label class="form-label">Date Range With Time</label>
            <app-date2></app-date2>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="example">
            <label class="form-label">Limit Selectable Dates</label>
            <app-date3></app-date3>                   
        </div>
    </div>
</div>