<div
  class="content-body"
  *ngIf="this.Params.Mode == 'N' || this.Params.Mode == 'E'"
>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header p-3">
        <span
          class="breadcrumbs-title"
          *ngFor="let bread of breadcrumbs; let i = index"
        >
          <a
            class="breadcrumbs-title"
            href="javascript:void(0)"
            (click)="navigateBreadcrumbs(bread)"
          >
            <b> Institution &nbsp; > &nbsp;</b
            ><!-- {{bread.title}} -->
          </a>
        </span>
        <h4 class="card-title">{{ this.pageTitle }}</h4>
      </div>
      <div class="card-body">
        <form
          [formGroup]="form"
          (ngSubmit)="onSubmit()"
          class="col-md-12 col-xs-12 col-lg-12 col-sm-12"
        >
          <div class="row mb-2">
            <div class="col-md-4 mb-3">
              <mat-form-field
                style="font-size: 14px"
                appearance="outline"
                class="custom-size-form-field"
              >
                <mat-label>Institution Name </mat-label>
                <input
                  matInput
                  placeholder="Enter Institution Name"
                  formControlName="institutionName"
                />
                <mat-error>
                  <small>{{ fieldErrors("institutionName") }}</small>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4 mb-3">
              <mat-form-field
                style="font-size: 14px"
                appearance="outline"
                class="custom-size-form-field"
              >
                <mat-label>Status </mat-label>
                <mat-select
                  placeholder="Select Status"
                  formControlName="status"
                >
                  <mat-option [value]="1"> 1 </mat-option>
                  <mat-option [value]="2"> 1 </mat-option>
                </mat-select>
                <mat-error>
                  <small>{{ fieldErrors("status") }}</small>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-md-4 mb-3">
              <mat-form-field
                style="font-size: 14px"
                appearance="outline"
                class="custom-size-form-field"
              >
                <mat-label>Contact Person Name </mat-label>
                <input
                  matInput
                  placeholder="Enter Contact Person Name "
                  formControlName="contactPersonName"
                />
                <mat-error>
                  <small>{{ fieldErrors("contactPersonName") }}</small>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4 mb-3">
              <mat-form-field
                style="font-size: 14px"
                appearance="outline"
                class="custom-size-form-field"
              >
                <mat-label>Contact Person Email </mat-label>
                <input
                  matInput
                  placeholder="Enter Contact Person Email "
                  formControlName="contactPersonEmail"
                />
                <mat-error>
                  <small>{{ fieldErrors("contactPersonEmail") }}</small>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-md-3">
              <button
                mat-flat-button
                color="primary"
                class="rounded-3"
                *ngIf="this.Params.Mode == 'N'"
                routerLink="/admin/manage-institution-details"
              >
                Create Institution
              </button>

              <button
                mat-flat-button
                color="primary"
                class="rounded-3"
                *ngIf="this.Params.Mode == 'E'"
                routerLink="/admin/manage-institution-details"
              >
                Update Institution
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="shouldShow">
  <div class="col-xxl-12">
    <div class="card shadow-none">
      <!--  <div class="card-header d-block pt-3 pb-1">
                            <h5 class="mb-2"><b>Custom Fields</b></h5>
                        </div> -->
      <div class="card-body px-0">
        <div class="row">
          <!-- <p class="my-1"><strong>Instance Summary</strong></p> -->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <p><b> Institution Name: </b></p>
            <p class="mb-2">
              {{
                this.instanceDetails.institutionName
                  ? this.instanceDetails.institutionName
                  : "-
              -"
              }}
            </p>
            <p><b> Contact Person Name: </b></p>
            <p class="mb-2">
              {{
                this.instanceDetails.contactPersonName
                  ? this.instanceDetails.contactPersonName
                  : "-
              -"
              }}
            </p>

            <p><b> Contact Person Number: </b></p>

            <p class="mb-2">
              {{
                this.instanceDetails.contactPersonNumber
                  ? this.instanceDetails.contactPersonNumber
                  : "-
              -"
              }}
            </p>

            <p><b> Contact Person Id: </b></p>
            <p class="mb-2">
              {{
                this.instanceDetails.contactPersonEmail
                  ? this.instanceDetails.contactPersonEmail
                  : "- -"
              }}
            </p>
          </div>
          <div
            class="col-md-6 col-sm-6 col-xs-12 border-dark border-1 border-start"
          >
            <p><b> Status: </b></p>
            <p class="mb-2">
              {{
                this.instanceDetails.status
                  ? this.instanceDetails.status
                  : "-
              -"
              }}
            </p>
            <p><b>Role</b></p>
            <p class="mb-2">
              {{
                this.instanceDetails.role ? this.instanceDetails.role : "- -"
              }}
            </p>
            <p><b>passwordPolicy</b></p>

            <p class="mb-2">
              {{
                this.instanceDetails.passwordPolicy
                  ? this.instanceDetails.passwordPolicy
                  : "- -"
              }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
