<div class="row">
    <div class="col-xxl-12">
        <div class="card shadow-none">
            <!--  <div class="card-header d-block pt-3 pb-1">
  <h5 class="mb-2"><b>Custom Fields</b></h5>
</div> -->
            <div class="card-body px-0">
                <form [formGroup]="form" (ngSubmit)="onSubmit()" class="col-md-12 col-xs-12  col-lg-12 col-sm-12 ">
                    <h4 class="mx-4"><b>Create Channel</b></h4>
                    <div class="row  mx-2">

                        <div class="col-md-3 mb-3">
                            <mat-form-field style="font-size: 14px;" appearance="outline"
                                class="custom-size-form-field">
                                <mat-label>Channel Name</mat-label>
                                <input matInput placeholder="Channel Name*" formControlName="channelName">
                                <mat-error>
                                    <small>Required</small>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-3 mb-3">
                            <mat-form-field style="font-size: 14px;" appearance="outline"
                                class="custom-size-form-field">
                                <mat-label>Channel Indentifier</mat-label>
                                <input matInput placeholder="Channel Indentifier*" formControlName="channelIndentifier">
                                <mat-error>
                                    <small>Required</small>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3 mb-3">
                            <mat-form-field style="font-size: 14px;" appearance="outline"
                                class=" custom-size-form-field ">
                                <mat-label>Channel Type</mat-label>
                                <mat-select placeholder="Channel Type" formControlName="channelType">
                                    <!-- <mat-select placeholder="Institution" formControlName="institutionId"> -->
                                    <mat-option [value]="1">
                                        1
                                    </mat-option>
                                    <mat-option [value]="1">
                                        1
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    <small>Required</small>
                                </mat-error>
                            </mat-form-field>
                        </div>


                        <div class="col-md-3 mb-3">
                            <mat-form-field style="font-size: 14px;" appearance="outline"
                                class="custom-size-form-field">
                                <mat-label>Bin</mat-label>
                                <input matInput placeholder="Bin*" formControlName="bin">
                                <mat-error>
                                    <small>Required</small>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-3 mb-3">
                            <mat-form-field style="font-size: 14px;" appearance="outline"
                                class=" custom-size-form-field ">
                                <mat-label>Endpoint Type</mat-label>
                                <mat-select placeholder="Endpoint Type" formControlName="endpointType">
                                    <!-- <mat-select placeholder="Institution" formControlName="institutionId"> -->
                                    <mat-option [value]="1">
                                        1
                                    </mat-option>
                                    <mat-option [value]="1">
                                        1
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    <small>Required</small>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3 mb-3">
                            <mat-form-field style="font-size: 14px;" appearance="outline"
                                class=" custom-size-form-field ">
                                <mat-label>Channel Format</mat-label>
                                <mat-select placeholder="Channel Format" formControlName="channelFormat">
                                    <!-- <mat-select placeholder="Institution" formControlName="institutionId"> -->
                                    <mat-option [value]="1">
                                        1
                                    </mat-option>
                                    <mat-option [value]="1">
                                        1
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    <small>Required</small>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3 mb-3">
                            <mat-form-field style="font-size: 14px;" appearance="outline"
                                class=" custom-size-form-field ">
                                <mat-label>Channel Timeout</mat-label>
                                <mat-select placeholder="Channel Timeout" formControlName="channelTimeout">
                                    <!-- <mat-select placeholder="Institution" formControlName="institutionId"> -->
                                    <mat-option [value]="1">
                                        1
                                    </mat-option>
                                    <mat-option [value]="1">
                                        1
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    <small>Required</small>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3 mb-3 ">
                            <mat-checkbox class="example-margin" formControlName="isActive">Active? </mat-checkbox>
                        </div>
                        <!--  <div class="col-md-1 ">
                          <button mat-stroked-button class="rounded-3" color="primary">
                              Click</button>



                      </div> -->



                    </div>
                    <div class="row  mx-2 d-flex justify-content-end">
                        <div class="col-md-3">
                            <button mat-flat-button color="primary" class="rounded-3" type="submit">Add Channel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>