<div class="row">
    <div class="col-xxl-12">
        <div class="card m-2">
            <div class="card-header d-block">
                <h4><b>Create Channel Queues</b></h4>
            </div>
            <div class="card-body pb-0 pt-2 mb-3 px-0" style="  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.35);">
                <form [formGroup]="form"  class="col-md-12 col-xs-12  col-lg-12 col-sm-12 ">

                    <div class="row mx-2">
                        <div class="col-md-6 mb-3 ">
                            <mat-checkbox class="example-margin" formControlName="isAutoQueue"
                                (change)="onChangeAutoQueue()">Auto Create Queues?
                            </mat-checkbox>
                        </div>
                    </div>
                    <ng-container formGroupName="channelQueueDetails">

                        <div class="row mx-2" *ngIf="this.autoQueue == false">
                            <div class="col-md-3  mb-3 ">
                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                    class=" custom-size-form-field ">
                                    <mat-label>Service Type </mat-label>
                                    <mat-select placeholder="Select Service Type" formControlName="serviceTypeId">
                                        <!-- <mat-select placeholder="Institution" formControlName="serviceTypeId"> -->
                                        <mat-option value="tcp_ip">
                                            TCP/IP
                                        </mat-option>
                                        <mat-option value="schedular">
                                            Schedular
                                        </mat-option>
                                        <mat-option value="parser">
                                            Parser
                                        </mat-option>
                                        <mat-option value="soap_rest">
                                            SOAP/REST
                                        </mat-option>
                                        <mat-option value="rpc">
                                            RPC
                                        </mat-option>
                                        <mat-option value="channelProcessor">
                                            Channel Processor
                                        </mat-option>
                                    </mat-select>
                                    <mat-error>
                                        <small> {{fieldErrors("serviceTypeId")}}</small>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3  mb-3 ">
                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                    class="custom-size-form-field">
                                    <mat-label>Queue Name </mat-label>
                                    <input matInput placeholder="Enter Queue Name" formControlName="queueName">
                                    <mat-error>
                                        <small> {{fieldErrors("queueName")}}</small>
                                    </mat-error>
                                </mat-form-field>
                            </div>



                            <div class="col-md-2  mb-3 ">

                                <button mat-flat-button color="primary" class="rounded-3 custom-button" type="button"
                                    style="background-color: #007F5F;" (click)="addFieldMapping()">Add Queue</button>
                            </div>



                        </div>
                    </ng-container>
                </form>

            </div>
            <div class="card-body py-0 px-0" style="  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.35);">

                <div class="table-responsive"
                    style="overflow-x: auto; max-width: 100%; ">
                    <div class="col-md-12">

                        <h5 style="padding: 10px 32px;"><b>Channel Queues ({{ this.channelQueueList.length || 0 }})</b>
                        </h5>

                    </div>
                    <table mat-table [dataSource]="channelQueueList" class="mat-elevation-z8">

                        <ng-container matColumnDef="serviceType">
                            <th mat-header-cell *matHeaderCellDef> Service Type </th>
                            <td mat-cell *matCellDef="let record"> {{ record.serviceTypeId || '--' }} </td>
                        </ng-container>


                        <ng-container matColumnDef="queueName">
                            <th mat-header-cell *matHeaderCellDef> Queue Name </th>
                            <td mat-cell *matCellDef="let record"> {{ record.queueName || '--' }} </td>
                        </ng-container>


                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef> Actions </th>
                            <td mat-cell *matCellDef="let record">
                                <span class="mx-2 pointer">
                                    <i class="fa fa-trash" style="color: #ff1c1c"></i>
                                </span>
                            </td>
                        </ng-container>


                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let record; columns: displayedColumns;"></mat-row>


                        <tr *ngIf="channelQueueList.length == 0">
                            <td colspan="3">
                                <span>Data not found.</span>
                            </td>
                        </tr>

                    </table>

                </div>
            </div>
        </div>
        <div class="my-2 fixed-bottom-bar">

            <button mat-flat-button color="primary" class="rounded-3 custom-button" type="button">
                Previous
            </button>


            <button mat-flat-button color="primary" class="rounded-3 custom-button" style="background-color: #007F5F;"
                 type="button" (click)="onSubmit()">
                Next
            </button>

        </div>
    </div>
</div>


<div class="card-body py-0 px-0" style="  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.35);">

    <div class="table-responsive"
        style="overflow-x: auto; max-width: 100%; ">
        <div class="col-md-12">

            <h5 style="padding: 10px 32px;"><b>Channel Queues ({{ this.channelQueueList.length || 0 }})</b>
            </h5>

        </div>
        <table mat-table [dataSource]="channelQueueList" class="mat-elevation-z8">

            <ng-container matColumnDef="serviceType">
                <th mat-header-cell *matHeaderCellDef> Service Type </th>
                <td mat-cell *matCellDef="let record"> {{ record.serviceTypeId || '--' }} </td>
            </ng-container>


            <ng-container matColumnDef="queueName">
                <th mat-header-cell *matHeaderCellDef> Queue Name </th>
                <td mat-cell *matCellDef="let record"> {{ record.queueName || '--' }} </td>
            </ng-container>


            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let record">
                    <span class="mx-2 pointer">
                        <i class="fa fa-trash" style="color: #ff1c1c"></i>
                    </span>
                </td>
            </ng-container>


            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let record; columns: displayedColumns;"></mat-row>


            <tr *ngIf="channelQueueList.length == 0">
                <td colspan="3">
                    <span>Data not found.</span>
                </td>
            </tr>

        </table>

    </div>
</div>