.custom-button {
    height: 32px;
    width: 10rem;
    padding: 0;
    font-size: 12px;
    font-weight: 200;
    font-family: "Inter";
   }



   .mat-mdc-table .mdc-data-table__content .mat-mdc-row, .mat-mdc-table .mat-mdc-header-row{
    height: 30px;
}


.table-responsive {
    overflow-x: auto;
    width: 100%; /* Ensure it takes full width */
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: center; /* Center the table */
}

mat-table {
    width: 100%; /* Ensure the table takes full width */
    table-layout: fixed; /* Ensures equal column distribution */
    margin: 0 auto; /* Centers the table */
}
  
  mat-header-cell,
  mat-cell {
    white-space: nowrap; /* Prevent text from wrapping */
    text-overflow: ellipsis; /* Show ellipsis when text overflows */
    overflow: hidden; /* Hide overflow */
    padding: 8px 16px; /* Add some padding for better spacing */
  }
  
  mat-header-cell {
    background-color: #f1f1f1; /* Light gray background for header */
    font-weight: bold; /* Make header text bold */
  }
  
  mat-cell {
    word-wrap: break-word; /* Allow word break for longer content */
  }
  
  mat-cell, mat-header-cell {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 180px; /* Ensure cells have a minimum width */
  }
  
  .mat-mdc-table .mdc-data-table__content .mat-mdc-row, .mat-mdc-table .mat-mdc-header-row{
    height: 30px;
}


.mat-mdc-table .mat-mdc-row, .mat-mdc-table  .mat-mdc-header-row .mat-mdc-header-cell, .mat-mdc-table  .mat-mdc-header-row {
    height: 30px;
    min-height: 30px;
    
}
