<div class="content-body">
  <div class="container-fluid">
    <app-breadcrumb [breadcrumb]="breadcrumbList"> </app-breadcrumb>

    <!-- row -->
    <div class="row">
        <div class="col-xl-4 col-xxl-6 col-lg-6">
            <div class="card">
                <div class="card-header border-0 pb-0">
                    <h4 class="card-title">Timeline</h4>
                </div>
                <div class="card-body">
                    <div id="DZ_W_TimeLine" class="widget-timeline dz-scroll height370">

                        <app-wg-timeline-1></app-wg-timeline-1>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-xxl-6 col-lg-6">
            <div class="card">
                <div class="card-header border-0 pb-0">
                    <h4 class="card-title">Timeline 2</h4>
                </div>
                <div class="card-body">
                    <div id="DZ_W_TimeLine11" class="widget-timeline dz-scroll style-1 height370">

                        <app-wg-timeline-1></app-wg-timeline-1>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-xxl-6 col-lg-6">
            <div class="card">
                <div class="card-header border-0 pb-0">
                    <h4 class="card-title">Notifications</h4>
                </div>
                <div class="card-body">
                    <div id="DZ_W_Todo1" class="widget-media dz-scroll height370">
                        <app-wg-notifications></app-wg-notifications>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-xxl-6 col-lg-6">
            <div class="card border-0 pb-0">
                <div class="card-header border-0 pb-0">
                    <h4 class="card-title">Notifications 2</h4>
                </div>
                <div class="card-body">
                    <div id="DZ_W_Todo2" class="widget-media dz-scroll height370">

                        <app-wg-notifications-2></app-wg-notifications-2>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-xxl-6 col-lg-6">
            <div class="card border-0 pb-0">
                <div class="card-header border-0 pb-0">
                    <h4 class="card-title">Message</h4>
                </div>
                <div class="card-body">
                    <div id="DZ_W_Todo3" class="widget-media dz-scroll height370">
                        <app-wg-message-1></app-wg-message-1>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-xxl-6 col-lg-6">
            <div class="card border-0 pb-0">
                <div class="card-header border-0 pb-0">
                    <h4 class="card-title">To Do List</h4>
                </div>
                <div class="card-body">
                    <div id="DZ_W_Todo4" class="widget-media dz-scroll height370">
                        <app-wg-todo-list></app-wg-todo-list>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-12 col-xxl-4 col-sm-12">
            <div class="card text-white bg-primary">
                <ul class="list-group list-group-flush">
                    @for(item of items; track item;){
                    <li class="list-group-item d-flex justify-content-between"><span class="mb-0">{{ item.key }} :</span><strong>{{ item.value }}</strong></li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-xxl-4 col-sm-6">
            <div class="card text-white bg-warning text-black">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between"><span class="mb-0">Regular Checkups</span></li>
                    @for(item of items1; track item;){
                        <li class="list-group-item d-flex justify-content-between"><span class="mb-0">{{ item.key }} :</span><strong>{{ item.value }}</strong></li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-xxl-4 col-sm-6">
            <div class="card text-white bg-success text-black">
                <ul class="list-group list-group-flush">
                    @for(item of items2; track item;){
                        <li class="list-group-item d-flex justify-content-between"><span class="mb-0">{{ item.key }} :</span><strong>{{ item.value }}</strong></li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-xl-12 col-lg-12 col-xxl-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Recent Payments Queue</h4>
                </div>
                <div class="card-body">
                    <app-wg-recent-pay></app-wg-recent-pay>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
