[direction="rtl"] {
	.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback){
		border-top-left-radius: 40px;
		border-bottom-left-radius: 40px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
}