

    <!-- Column Visibility Menu -->
    <div class="content-body">
      <div class="container-fluid">
    
        <!-- Column Visibility Menu -->
        <div class="d-flex justify-content-end">
          <button mat-stroked-button class="rounded-3 custom-button" [matMenuTriggerFor]="columnMenu">
            <mat-icon class="mx-1">view_week</mat-icon>
          </button>
    
          <mat-menu #columnMenu="matMenu">
            <mat-checkbox *ngFor="let column of displayedColumns" [(ngModel)]="columnVisibility[column]">
              {{ column | titlecase }}
            </mat-checkbox>
          </mat-menu>
        </div>
    
        <!-- Responsive Table Container -->
        <div class="table-responsive" style="overflow-x: auto; max-width: 100%; border: 1px solid #ccc; border-radius: 5px;">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container *ngFor="let column of displayedColumns">
              <ng-container *ngIf="columnVisibility[column]">
                <ng-container matColumnDef="{{ column }}">
                  <mat-header-cell *matHeaderCellDef> {{ column | titlecase }} </mat-header-cell>
                  <mat-cell *matCellDef="let element" matTooltip="{{element[column]}}"> 
                    {{ element[column] ? element[column] : '- -' }} 
                  </mat-cell>
                </ng-container>
              </ng-container>
            </ng-container>
    
            <mat-header-row *matHeaderRowDef="visibleColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: visibleColumns;"></mat-row>
          </table>
        </div>
      </div>
    </div>
    

