
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <app-breadcrumb [breadcrumb]="breadcrumbList"> </app-breadcrumb>
        </div>
        <!-- row -->
        <div class="row">
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">Basic icons</h4>
                    </div>
                    <div class="card-body">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="card-header d-block">
                        <h4 class="card-title">SVG icons</h4>
                    </div>
                    <div class="card-body">
                        <mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
