.custom-button {
    height: 32px;
    width: 10rem;
    padding: 0;
    font-size: 12px;
    font-weight: 200;
    font-family: "Inter";
   }
   .highlight-row {
    background-color: #ff6565 !important; /* Light green for highlighting */
  }