<div class="row" *ngIf="this.Params.Mode == 'N' || this.Params.Mode == 'E'">
    <div class="col-xxl-12">
        <div class="card m-2">
            <div class="card-header d-block">
                <h4><b>Create Field Definition</b></h4>
            </div>
            <div class="card-body pb-0 mb-3 px-0" style="  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.35);">

                <form [formGroup]="fieldDefinitionForm" (ngSubmit)="onSubmit()"
                    class="col-md-12 col-xs-12  col-lg-12 col-sm-12 ">

                    <ng-container formGroupName="fieldDefinitionDetails">

                        <div class="row mb-2 mx-2">
                            <div class="col-md-3 mb-3">
                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                    class="custom-size-form-field">
                                    <mat-label>Field Sequence </mat-label>
                                    <input matInput placeholder="Enter Field Sequence " formControlName="fieldSequence">
                                    <mat-error>
                                        <small> {{fieldErrors("fieldSequence")}}</small>

                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3 mb-3">
                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                    class="custom-size-form-field">
                                    <mat-label>Field Name </mat-label>
                                    <input matInput placeholder="Enter Field Name" formControlName="fieldName">
                                    <mat-error>
                                        <small> {{fieldErrors("fieldName")}}</small>

                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3 mb-3">
                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                    class="custom-size-form-field">
                                    <mat-label>Field Description </mat-label>
                                    <input matInput placeholder="Enter Field Description "
                                        formControlName="fieldDescription">
                                    <mat-error>
                                        <small> {{fieldErrors("fieldDescription")}}</small>

                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3 mb-3">
                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                    class=" custom-size-form-field ">
                                    <mat-label>Internal Tag Name </mat-label>
                                    <mat-select placeholder="Select Internal Tag Name"
                                        formControlName="internalTagName">
                                        <!-- <mat-select placeholder="Select " placeholder="Select "> -->
                                        <mat-option [value]="1">
                                            1
                                        </mat-option>
                                        <mat-option [value]="1">
                                            1
                                        </mat-option>
                                    </mat-select>
                                    <mat-error>
                                        <small> {{fieldErrors("internalTagName")}}</small>

                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-md-3 mb-3 ">
                                <mat-checkbox class="example-margin" formControlName="isRoutingField">isRoutingField
                                </mat-checkbox>
                            </div>

                            <div class="col-md-3 mb-3 ">
                                <mat-checkbox class="example-margin" formControlName="isIdentifier">Identifier
                                </mat-checkbox>
                            </div>
                            <div class="col-md-3 mb-3 ">
                                <mat-checkbox class="example-margin" formControlName="isMandatory">Mandatory
                                </mat-checkbox>
                            </div>


                            <div class="col-md-2  mb-3  ">
                                <!--  <button mat-stroked-button class="d-flex w-100 align-item-center" color="primary">
                                                    HTTP Headers</button>
-->

                                <button mat-flat-button color="primary" class="rounded-3 custom-button" type="submit"
                                    (click)="addFieldDefinition()" style="background-color: #007F5F;">Add
                                    Field</button>
                            </div>
                        </div>

                        <div class="row mb-3 mx-2">
                            <mat-accordion class="example-headers-align" multi>
                                <!-- DB Configuration Pooling -->
                                <mat-expansion-panel [expanded]="false" hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <h4><b>Advance Config</b></h4>
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div class="row mb-3">
                                        <div class="col-md-3">
                                            <mat-form-field style="font-size: 14px;" appearance="outline"
                                                class="custom-size-form-field">
                                                <mat-label>Incoming Transformation </mat-label>
                                                <mat-select placeholder="Select Incoming Transformation"
                                                    formControlName="incomingTransformation">
                                                    <!-- <mat-select placeholder="Select " placeholder="Select "> -->
                                                    <mat-option [value]="1">
                                                        1
                                                    </mat-option>
                                                    <mat-option [value]="1">
                                                        1
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-3">
                                            <mat-form-field style="font-size: 14px;" appearance="outline"
                                                class="custom-size-form-field">
                                                <mat-label>Outgoing Transformation </mat-label>
                                                <mat-select placeholder="Select Outgoing Transformation"
                                                    formControlName="outgoingTransformation">
                                                    <!-- <mat-select placeholder="Select " placeholder="Select "> -->
                                                    <mat-option [value]="1">
                                                        1
                                                    </mat-option>
                                                    <mat-option [value]="1">
                                                        1
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-3">
                                            <mat-form-field style="font-size: 14px;" appearance="outline"
                                                class="custom-size-form-field">
                                                <mat-label>Masking </mat-label>

                                                <mat-select placeholder="Select Masking" formControlName="masking">
                                                    <!-- <mat-select placeholder="Select " placeholder="Select "> -->
                                                    <mat-option value="fullMask">
                                                        full Mask
                                                    </mat-option>
                                                    <mat-option value="partialMask">
                                                        partial Mask
                                                    </mat-option>
                                                    <mat-option value="customMask">
                                                        custom Mask
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-3"
                                            *ngIf="this.fieldDefinitionForm.get('fieldDefinitionDetails.masking')?.value == 'customMask'">
                                            <mat-form-field style="font-size: 14px;" appearance="outline"
                                                class="custom-size-form-field">
                                                <mat-label>Custom Mask </mat-label>
                                                <input matInput placeholder="Enter Custom Mask"
                                                    formControlName="customMask">
                                                <mat-error>
                                                    <small> {{fieldErrors("channelTimeout")}}</small>

                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <ng-container *ngIf="this.randomString == 0">
                                        <div class="row mb-3">
                                            <div class="col-md-3">
                                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                                    class="custom-size-form-field">
                                                    <mat-label>Parent Tag </mat-label>
                                                    <mat-select placeholder="Select Parent Tag"
                                                        formControlName="parentTag">
                                                        <!-- <mat-select placeholder="Select " placeholder="Select "> -->
                                                        <mat-option [value]="1">
                                                            1
                                                        </mat-option>
                                                        <mat-option [value]="1">
                                                            1
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-3">
                                                <mat-checkbox class="example-margin"
                                                    formControlName="isRepeatBlock">isRepeatBlock

                                                </mat-checkbox>
                                            </div>
                                            <div class="col-md-3"
                                                *ngIf="this.fieldDefinitionForm.get('fieldDefinitionDetails.isRepeatBlock')?.value">
                                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                                    class="custom-size-form-field">
                                                    <mat-label>Min Repeat Count </mat-label>
                                                    <input matInput placeholder="Enter Minimum Connections"
                                                        formControlName="minRepeatCount">
                                                    <mat-error>
                                                        <small> {{fieldErrors("channelTimeout")}}</small>

                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-3"
                                                *ngIf="this.fieldDefinitionForm.get('fieldDefinitionDetails.isRepeatBlock')?.value">
                                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                                    class="custom-size-form-field">
                                                    <mat-label>Max Repeat Count </mat-label>
                                                    <input matInput placeholder="Enter Max Repeat Count"
                                                        formControlName="maxRepeatCount">
                                                    <mat-error>
                                                        <small> {{fieldErrors("channelTimeout")}}</small>

                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <div class="col-md-3">
                                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                                    class="custom-size-form-field">
                                                    <mat-label>Name Space Alias </mat-label>
                                                    <input matInput placeholder="Enter Name Space Alias"
                                                        formControlName="nameSpaceAlias">
                                                    <mat-error>
                                                        <small> {{fieldErrors("channelTimeout")}}</small>

                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                    </ng-container>


                                    <ng-container *ngIf="this.randomString == 1">
                                        <div class="row mb-3">
                                            <div class="col-md-3">
                                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                                    class="custom-size-form-field">
                                                    <mat-label>Length Type </mat-label>
                                                    <mat-select placeholder="Select Length Type"
                                                        formControlName="lengthType"
                                                        (selectionChange)="onChangeLengthType()">
                                                        <!-- <mat-select placeholder="Select " placeholder="Select "> -->
                                                        <mat-option value="fixedLength">
                                                            fixedLength
                                                        </mat-option>
                                                        <mat-option value="metaLength">
                                                            metaLength
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-3"
                                                *ngIf="this.fieldDefinitionForm.get('fieldDefinitionDetails.lengthType')?.value == 'fixedLength'">

                                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                                    class="custom-size-form-field">
                                                    <mat-label>Fixed Length </mat-label>
                                                    <input matInput placeholder="Enter Fixed Length"
                                                        formControlName="fixedLength">
                                                    <mat-error>
                                                        <small> {{fieldErrors("channelTimeout")}}</small>

                                                    </mat-error>
                                                </mat-form-field>
                                            </div>


                                            <div class="col-md-3"
                                                *ngIf="this.fieldDefinitionForm.get('fieldDefinitionDetails.lengthType')?.value == 'metaLength'">
                                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                                    class="custom-size-form-field">
                                                    <mat-label>Meta Length Type </mat-label>
                                                    <mat-select placeholder="Select Meta Length Type"
                                                        formControlName="metaLengthType">
                                                        <!-- <mat-select placeholder="Select " placeholder="Select "> -->
                                                        <mat-option [value]="1">
                                                            1
                                                        </mat-option>
                                                        <mat-option [value]="1">
                                                            1
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-3"
                                                *ngIf="this.fieldDefinitionForm.get('fieldDefinitionDetails.lengthType')?.value == 'metaLength'">
                                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                                    class="custom-size-form-field">
                                                    <mat-label>Meta Length </mat-label>
                                                    <mat-select placeholder="Select Meta Length"
                                                        formControlName="metaLength">

                                                        <mat-option [value]="1">
                                                            1
                                                        </mat-option>
                                                        <mat-option [value]="1">
                                                            1
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-3">
                                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                                    class="custom-size-form-field"
                                                    *ngIf="this.fieldDefinitionForm.get('fieldDefinitionDetails.lengthType')?.value == 'fixedLength'">
                                                    <mat-label>Trim </mat-label>
                                                    <mat-select placeholder="Select Trim" formControlName="trim">
                                                        <!-- <mat-select placeholder="Select " placeholder="Select "> -->
                                                        <mat-option [value]="1">
                                                            1
                                                        </mat-option>
                                                        <mat-option [value]="1">
                                                            1
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-3">
                                                <mat-checkbox class="example-margin" formControlName="padding"
                                                    (change)="onChangePadding()"
                                                    *ngIf="this.fieldDefinitionForm.get('fieldDefinitionDetails.lengthType')?.value == 'fixedLength'">
                                                    isPadding
                                                </mat-checkbox>
                                            </div>
                                            <div class="col-md-3"
                                                *ngIf="this.fieldDefinitionForm.get('fieldDefinitionDetails.padding')?.value">
                                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                                    class="custom-size-form-field">
                                                    <mat-label>Padding Value </mat-label>
                                                    <input matInput placeholder="Enter Padding Value"
                                                        formControlName="paddingValue">
                                                    <mat-error>
                                                        <small> {{fieldErrors("channelTimeout")}}</small>

                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-3"
                                                *ngIf="this.fieldDefinitionForm.get('fieldDefinitionDetails.padding')?.value">
                                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                                    class="custom-size-form-field">
                                                    <mat-label>Alignment </mat-label>
                                                    <mat-select placeholder="Select Alignment"
                                                        formControlName="alignment">
                                                        <!-- <mat-select placeholder="Select " placeholder="Select "> -->
                                                        <mat-option [value]="1">
                                                            1
                                                        </mat-option>
                                                        <mat-option [value]="1">
                                                            1
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>

                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-3">
                                                <mat-checkbox class="example-margin" formControlName="isBitMap">isBitMap

                                                </mat-checkbox>
                                            </div>
                                            <div class="col-md-3">
                                                <mat-checkbox class="example-margin"
                                                    formControlName="isBitMapped">isBitMapped

                                                </mat-checkbox>
                                            </div>
                                            <div class="col-md-3"
                                                *ngIf="this.fieldDefinitionForm.get('fieldDefinitionDetails.isBitMapped')?.value ">
                                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                                    class="custom-size-form-field">
                                                    <mat-label>Bitmap Field Name </mat-label>
                                                    <mat-select placeholder="Select Bitmap Field Name"
                                                        formControlName="bitmapFieldName">
                                                        <!-- <mat-select placeholder="Select " placeholder="Select "> -->
                                                        <mat-option [value]="1">
                                                            1
                                                        </mat-option>
                                                        <mat-option [value]="1">
                                                            1
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-3"
                                                *ngIf="this.fieldDefinitionForm.get('fieldDefinitionDetails.isBitMapped')?.value ">
                                                <mat-form-field style="font-size: 14px;" appearance="outline"
                                                    class="custom-size-form-field">
                                                    <mat-label>Bitmap Bit Number </mat-label>
                                                    <input matInput placeholder="Enter Bitmap Bit Number"
                                                        formControlName="bitmapBitNumber">
                                                    <mat-error>
                                                        <small> {{fieldErrors("channelTimeout")}}</small>

                                                    </mat-error>
                                                </mat-form-field>
                                            </div>


                                        </div>
                                        <div class="row mb-3">

                                        </div>

                                    </ng-container>


                                </mat-expansion-panel>


                            </mat-accordion>
                        </div>
                    </ng-container>
                </form>

            </div>
            <div class="card-body py-0 px-0 " style="  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.35);">
                <div class="table-responsive" style="overflow-x: auto; max-width: 100%; ">

                    <div class="col-md-12">

                        <h5 style="padding: 10px 32px;"><b>Defined Fields ({{ this.fieldDefinitionList.length || 0
                                }})</b>
                        </h5>

                    </div>
                    <table mat-table [dataSource]="fieldDefinitionList" class="mat-elevation-z8">

                        <ng-container matColumnDef="fieldSequence">
                            <th mat-header-cell *matHeaderCellDef> fieldSequence </th>
                            <td mat-cell *matCellDef="let record"> {{ record.fieldSequence || '--' }} </td>
                        </ng-container>


                        <ng-container matColumnDef="fieldName">
                            <th mat-header-cell *matHeaderCellDef>fieldName</th>
                            <td mat-cell *matCellDef="let record"> {{ record.fieldName || '--' }}</td>
                        </ng-container>

                        <ng-container matColumnDef="internalTagName">
                            <th mat-header-cell *matHeaderCellDef> internalTagName </th>
                            <td mat-cell *matCellDef="let record"> {{ record.internalTagName || '--' }} </td>
                        </ng-container>


                        <ng-container matColumnDef="fieldDescription">
                            <th mat-header-cell *matHeaderCellDef> fieldDescription </th>
                            <td mat-cell *matCellDef="let record"> {{ record.fieldDescription || '--' }} </td>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef> Actions </th>
                            <td mat-cell *matCellDef="let record">
                                <span class="mx-2 pointer">
                                    <i class="fa fa-trash" style="color: #ff1c1c"></i>
                                </span>
                            </td>
                        </ng-container>


                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let record; columns: displayedColumns;"></mat-row>

                        <tr *ngIf="fieldDefinitionList.length === 0">
                            <td [attr.colspan]="displayedColumns.length" class="text-center">
                                <span>No data available.</span>
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
        <div class="my-2 fixed-bottom-bar">

            <button mat-flat-button color="primary" class="rounded-3 custom-button" type="button">
                Previous
            </button>


            <button mat-flat-button color="primary" class="rounded-3 custom-button" style="background-color: #007F5F;"
                type="submit">
                Next
            </button>

        </div>
    </div>
</div>


<div class="card-body py-0 px-0 mb-5" style="  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.35);" *ngIf="shouldShow">

    <div class="table-responsive" style="overflow-x: auto; max-width: 100%; ">
        <div class="col-md-12">

            <h5 style="padding: 10px 32px;"><b>Defined Fields ({{ this.fieldDefinitionList.length || 0 }})</b>
            </h5>

        </div>
        <table mat-table [dataSource]="fieldDefinitionList" class="mat-elevation-z8">

            <ng-container matColumnDef="fieldSequence">
                <th mat-header-cell *matHeaderCellDef> fieldSequence </th>
                <td mat-cell *matCellDef="let record"> {{ record.fieldSequence || '--' }} </td>
            </ng-container>


            <ng-container matColumnDef="fieldName">
                <th mat-header-cell *matHeaderCellDef>fieldName</th>
                <td mat-cell *matCellDef="let record"> {{ record.fieldName || '--' }}</td>
            </ng-container>

            <ng-container matColumnDef="fieldDescription">
                <th mat-header-cell *matHeaderCellDef> fieldDescription </th>
                <td mat-cell *matCellDef="let record"> {{ record.fieldDescription || '--' }} </td>
            </ng-container>


            <ng-container matColumnDef="internalTagName">
                <th mat-header-cell *matHeaderCellDef> internalTagName </th>
                <td mat-cell *matCellDef="let record"> {{ record.internalTagName || '--' }} </td>
            </ng-container>
            <ng-container matColumnDef="isRoutingField">
                <th mat-header-cell *matHeaderCellDef> isRoutingField </th>
                <td mat-cell *matCellDef="let record"> {{ record.isRoutingField || '--' }} </td>
            </ng-container>


            <ng-container matColumnDef="isIdentifier">
                <th mat-header-cell *matHeaderCellDef>isIdentifier</th>
                <td mat-cell *matCellDef="let record"> {{ record.isIdentifier || '--' }}</td>
            </ng-container>

            <ng-container matColumnDef="isMandatory">
                <th mat-header-cell *matHeaderCellDef> isMandatory </th>
                <td mat-cell *matCellDef="let record"> {{ record.isMandatory || '--' }} </td>
            </ng-container>


            <ng-container matColumnDef="incomingTransformation">
                <th mat-header-cell *matHeaderCellDef> incomingTransformation </th>
                <td mat-cell *matCellDef="let record"> {{ record.incomingTransformation || '--' }} </td>
            </ng-container>
            <ng-container matColumnDef="outgoingTransformation">
                <th mat-header-cell *matHeaderCellDef> outgoingTransformation </th>
                <td mat-cell *matCellDef="let record"> {{ record.outgoingTransformation || '--' }} </td>
            </ng-container>


            <ng-container matColumnDef="masking">
                <th mat-header-cell *matHeaderCellDef>masking</th>
                <td mat-cell *matCellDef="let record"> {{ record.masking || '--' }}</td>
            </ng-container>

            <ng-container matColumnDef="customMask">
                <th mat-header-cell *matHeaderCellDef> customMask </th>
                <td mat-cell *matCellDef="let record"> {{ record.customMask || '--' }} </td>
            </ng-container>


            <ng-container matColumnDef="parentTag">
                <th mat-header-cell *matHeaderCellDef> parentTag </th>
                <td mat-cell *matCellDef="let record"> {{ record.parentTag || '--' }} </td>
            </ng-container>
            <ng-container matColumnDef="isRepeatBlock">
                <th mat-header-cell *matHeaderCellDef> isRepeatBlock </th>
                <td mat-cell *matCellDef="let record"> {{ record.isRepeatBlock || '--' }} </td>
            </ng-container>


            <ng-container matColumnDef="minRepeatCount">
                <th mat-header-cell *matHeaderCellDef>minRepeatCount</th>
                <td mat-cell *matCellDef="let record"> {{ record.minRepeatCount || '--' }}</td>
            </ng-container>

            <ng-container matColumnDef="maxRepeatCount">
                <th mat-header-cell *matHeaderCellDef> maxRepeatCount </th>
                <td mat-cell *matCellDef="let record"> {{ record.maxRepeatCount || '--' }} </td>
            </ng-container>


            <ng-container matColumnDef="nameSpaceAlias">
                <th mat-header-cell *matHeaderCellDef> nameSpaceAlias </th>
                <td mat-cell *matCellDef="let record"> {{ record.nameSpaceAlias || '--' }} </td>
            </ng-container>
            <ng-container matColumnDef="lengthType">
                <th mat-header-cell *matHeaderCellDef> lengthType </th>
                <td mat-cell *matCellDef="let record"> {{ record.lengthType || '--' }} </td>
            </ng-container>


            <ng-container matColumnDef="fixedLength">
                <th mat-header-cell *matHeaderCellDef>fixedLength</th>
                <td mat-cell *matCellDef="let record"> {{ record.fixedLength || '--' }}</td>
            </ng-container>

            <ng-container matColumnDef="isBitMapped">
                <th mat-header-cell *matHeaderCellDef> isBitMapped </th>
                <td mat-cell *matCellDef="let record"> {{ record.isBitMapped || '--' }} </td>
            </ng-container>


            <ng-container matColumnDef="isBitMap">
                <th mat-header-cell *matHeaderCellDef> isBitMap </th>
                <td mat-cell *matCellDef="let record"> {{ record.isBitMap || '--' }} </td>
            </ng-container>
            <ng-container matColumnDef="bitmapFieldName">
                <th mat-header-cell *matHeaderCellDef> bitmapFieldName </th>
                <td mat-cell *matCellDef="let record"> {{ record.bitmapFieldName || '--' }} </td>
            </ng-container>


            <ng-container matColumnDef="bitmapBitNumber">
                <th mat-header-cell *matHeaderCellDef>bitmapBitNumber</th>
                <td mat-cell *matCellDef="let record"> {{ record.bitmapBitNumber || '--' }}</td>
            </ng-container>

            <ng-container matColumnDef="trim">
                <th mat-header-cell *matHeaderCellDef> trim </th>
                <td mat-cell *matCellDef="let record"> {{ record.trim || '--' }} </td>
            </ng-container>


            <ng-container matColumnDef="padding">
                <th mat-header-cell *matHeaderCellDef> padding </th>
                <td mat-cell *matCellDef="let record"> {{ record.padding || '--' }} </td>
            </ng-container>
            <ng-container matColumnDef="paddingValue">
                <th mat-header-cell *matHeaderCellDef> paddingValue </th>
                <td mat-cell *matCellDef="let record"> {{ record.paddingValue || '--' }} </td>
            </ng-container>


            <ng-container matColumnDef="alignment">
                <th mat-header-cell *matHeaderCellDef>alignment</th>
                <td mat-cell *matCellDef="let record"> {{ record.alignment || '--' }}</td>
            </ng-container>

            <ng-container matColumnDef="metaLengthType">
                <th mat-header-cell *matHeaderCellDef> metaLengthType </th>
                <td mat-cell *matCellDef="let record"> {{ record.metaLengthType || '--' }} </td>
            </ng-container>


            <ng-container matColumnDef="metaLength">
                <th mat-header-cell *matHeaderCellDef> metaLength </th>
                <td mat-cell *matCellDef="let record"> {{ record.metaLength || '--' }} </td>
            </ng-container>

          


            <mat-header-row *matHeaderRowDef="displayedColumnsView"></mat-header-row>
            <mat-row *matRowDef="let record; columns: displayedColumnsView;"></mat-row>

            <tr *ngIf="fieldDefinitionList.length === 0">
                <td [attr.colspan]="displayedColumnsView.length" class="text-center">
                    <span>No data available.</span>
                </td>
            </tr>

        </table>

    </div>
</div>