<section class=" custom-basic-btn">
  <h4 class="text-black mt-3">Basic Buttons</h4>
  <div class="example-button-row mb-sm-0 mb-2">
    <button mat-button class="rounded-3">Basic</button>
    <button mat-button color="primary" class="rounded-3">Primary</button>
    <button mat-button color="accent" class="rounded-3">Accent</button>
    <button mat-button color="warn" class="rounded-3">Warn</button>
    <button mat-button disabled class="rounded-3">Disabled</button>
    <a mat-button routerLink="." class="rounded-3">Link</a>
  </div>
</section>
<mat-divider></mat-divider>
<section class=" custom-basic-btn">
  <h4 class="text-black mt-3">Raised Buttons</h4>
  <div class="example-button-row mb-sm-0 mb-2">
    <button mat-raised-button class="rounded-3">Basic</button>
    <button mat-raised-button color="primary" class="rounded-3">Primary</button>
    <button mat-raised-button color="accent" class="rounded-3">Accent</button>
    <button mat-raised-button color="warn" class="rounded-3">Warn</button>
    <button mat-raised-button disabled class="rounded-3">Disabled</button>
    <a mat-raised-button routerLink="." class="rounded-3">Link</a>
  </div>
</section>
<mat-divider></mat-divider>
<section class=" custom-basic-btn">
  <h4 class="text-black mt-3">Stroked Buttons</h4>
  <div class="example-button-row mb-sm-0 mb-2">
    <button mat-stroked-button class="rounded-3">Basic</button>
    <button mat-stroked-button color="primary" class="rounded-3">Primary</button>
    <button mat-stroked-button color="accent" class="rounded-3">Accent</button>
    <button mat-stroked-button color="warn" class="rounded-3">Warn</button>
    <button mat-stroked-button disabled class="rounded-3">Disabled</button>
    <a mat-stroked-button routerLink="." class="rounded-3">Link</a>
  </div>
</section>
<mat-divider></mat-divider>
<section class=" custom-basic-btn">
  <h4 class="text-black mt-3">Flat Buttons</h4>
  <div class="example-button-row mb-sm-0 mb-2">
    <button mat-flat-button class="rounded-3">Basic</button>
    <button mat-flat-button color="primary" class="rounded-3">Primary</button>
    <button mat-flat-button color="accent" class="rounded-3">Accent</button>
    <button mat-flat-button color="warn" class="rounded-3">Warn</button>
    <button mat-flat-button disabled class="rounded-3">Disabled</button>
    <a mat-flat-button routerLink="." class="rounded-3">Link</a>
  </div>
</section>
<section class=" custom-basic-btn">
  <h4 class="text-black mt-3">Icon Buttons</h4>
  <div class="example-button-row mb-sm-0 mb-2">
    <button mat-icon-button matTooltip="Basic" aria-label="Example icon-button with a heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Primary" color="primary" aria-label="Example icon-button with a heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Accent" color="accent" aria-label="Example icon-button with a heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Warn" color="warn" aria-label="Example icon-button with a heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <div matTooltip="Disabled" class="example-disabled">
      <button mat-icon-button disabled aria-label="Example icon-button with a heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
    <a mat-icon-button matTooltip="Link" routerLink="." aria-label="Example icon-button with a heart icon">
      <mat-icon>favorite</mat-icon>
    </a>
  </div>
</section>
<section class=" custom-basic-btn">
  <h4 class="text-black mt-3">Fab Buttons</h4>
  <div class="example-button-row mb-sm-0 mb-2">

    <button mat-fab matTooltip="Primary" color="primary" aria-label="Example fab with a heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-fab matTooltip="Accent" color="accent" aria-label="Example fab with a heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-fab matTooltip="Warn" color="warn" aria-label="Example fab with a heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <div matTooltip="Disabled" class="example-disabled">
      <button mat-fab disabled aria-label="Example fab with a heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
    <a mat-fab matTooltip="Link" routerLink="." aria-label="Example fab with a heart icon">
      <mat-icon>favorite</mat-icon>
    </a>
  </div>
</section>

<section class=" custom-basic-btn">
  <h4 class="text-black mt-3">Mini Fab Buttons</h4>
  <div class="example-button-row mb-sm-0 mb-2">
    <button mat-mini-fab matTooltip="Primary" color="primary" aria-label="Example mini fab with a heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-mini-fab matTooltip="Accent" color="accent" aria-label="Example mini fab with a heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-mini-fab matTooltip="Warn" color="warn" aria-label="Example mini fab with a heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <div matTooltip="Disabled" class="example-disabled">
      <button mat-mini-fab disabled aria-label="Example mini fab with a heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
    <a mat-mini-fab matTooltip="Link" routerLink="." aria-label="Example mini fab with a heart icon">
      <mat-icon>favorite</mat-icon>
    </a>
  </div>
</section>

<section class=" custom-basic-btn">
  <h4 class="text-black mt-3">Extended Fab</h4>
  <div class="example-button-row mb-sm-0 mb-2">
    <button mat-fab extended color="primary">
      <mat-icon>favorite</mat-icon>
      Primary
    </button>
    <button mat-fab extended color="accent">
      <mat-icon>favorite</mat-icon>
      Accent
    </button>
    <button mat-fab extended color="warn">
      <mat-icon>favorite</mat-icon>
      Warn
    </button>
    <button mat-fab extended disabled>
      <mat-icon>favorite</mat-icon>
      Disabled
    </button>
    <a mat-fab extended routerLink=".">
      <mat-icon>favorite</mat-icon>
      Link
    </a>
  </div>
</section>